[2017-07-14 10:18] awh opened #1 "Expose reboot sentinel existence as Prometheus metric"
This would facilitate a fail-safe RebootRequired alert that would warn us if the reboot daemon is failing.

[2017-10-24 08:55] awh commented on #1
Closed by 6e44cb1342ac1625f15f47e88bf276b9dc0b801b

[2017-10-24 08:55] #1 closed

[2017-11-10 20:18] rsohn opened #4 "Needs extension for Centos/RHEL distros"
The use of a file such as /var/run/reboot-required is specific to Ubuntu family distros, but such a flag does not get set for RHEL/Centos distros using Yum/RPM for package management.  In those environments, the `yum-utils` package is installed, then the `needs-restarting -r` command can run to detect the need for a reboot when its exit code is 1.

Suggest adding an optional argument to `kured` th

[2017-11-20 10:11] awh commented on #4
Thanks for the report @rsohn. I like your idea of specifying a command, but sadly kured is running inside a container - it has neither access to arbitrary executables in the host filesystem, nor the sources of information such an executable might be using to determine if a reboot is required. You'll note that for the Debian/Ubuntu case the daemonset bind mounts `/var/run` into the container so tha

[2018-01-10 07:27] winjer opened #9 "RBAC support"
Thanks very much for this, it's really useful.

There doesn't seem to be any RBAC support yet, and it would be useful. It probably needs to run with it's own service account kube-system:kured, and have a role and rolebindings, maybe packaged up as a helm chart?

I'm happy to develop and submit a patch, if you are ok to review it?

[2018-01-11 14:39] dlespiau opened #10 ""Invalid value" when trying to manually set the kured annotation"
[code]

[code]

[2018-01-11 14:48] dlespiau commented on #10
Note, after updating my `kubectl` to 1.8.5, it all works as intended. Do feel free to close this issue.

[2018-01-11 14:52] dlespiau commented on #10
After discussion with @awh closing, not a `kured` bug, which is fair.

[2018-01-11 14:52] #10 closed

[2018-01-29 20:54] 3dinfluence commented on #9
There is an open PR to do this.  See #6

[2018-01-30 08:03] winjer commented on #9
Thanks, I'll try that out and report back.

[2018-03-01 16:30] dlespiau opened #11 "Add a finer grained per-node lock"
It may be operationally interesting to have a finer grained lock than the global lock on the DaemonSet in case a specific node needs to stay up for a reason or another.

[2018-03-07 14:33] Matty9191 commented on #4
@rsohn I cobbled together a <a href="https://github.com/Matty9191/kubernetes/blob/master/scripts/create-restart-flag.sh">restart script</a> for my Fedora and CentOS lab systems. I'm installing and activating it with ansible and its working like a champ. Not sure if this will be of any value to you but thought I would pass it on.

[2018-04-06 09:28] leth commented on #11
A similar use case: it would be nice to be able to pick which node may reboot.

Currently we want to be careful which nodes are rebooted, it'd be nice to be able to use the kured lock to allow a specific node to reboot, but no subsequent nodes.

[2018-04-09 13:11] leth commented on #11
Actually, on reflection, I really want a blacklist so that I can say which nodes should not be rebooted, and let the others update normally.

[2018-04-09 13:15] leth opened #12 "Notify when draining a node, not when rebooting"
It's probably more useful to be told when a node is being taken out of service, than to know that an already out of service node is about to be rebooted.

[2018-04-16 10:54] awh opened #14 "Detect when drain operation kills kured pod"
`kubectl drain` should not in theory kill the kured pod as it's a DaemonSet; we rely on this behaviour, because after the drain operation is complete we need to command the reboot. We have however experienced the kured pod being killed during drain when the embedded version of `kubectl` is too different to the server (specifically, with `kubectl` 1.7.x against server 1.9.x), resulting in a never e

[2018-04-16 14:29] dholbach opened #15 "Change use of docker login"
Since [this change in docker](https://github.com/docker/docker-ce/commit/72976c8bb61ea6c06491cf912e79cf433b2299f1#diff-0089efda7e22ed6d69359999a8afebb4R67) the use of `docker login` needs to be changed from

```docker login -u $USER -p $PASS```
to
```echo $PASS | docker login -u $USER --password-stdin```

(Since TravisCI attaches a terminal it will block forever. @stefanprodan brought this up.)

[2018-04-16 17:32] timfpark opened #17 "Node not rebooted, pods are drained and restarted"
I'm using Kured on Azure with an ACS Engine generated cluster, and I can see that nodes are being drained and refilled but it looks like they are not being rebooted.

For example, a reboot-required was set on 23:43 on April 13th for node k8s-agents-27478824-4:

$ ls -al
...
-rw-r--r--  1 root root      0 Apr 13 23:43 reboot-required
...

And I see Kured triggering: draining and refilling nodes wit

[2018-04-24 10:55] neumanndaniel commented on #14
Regarding to this. It would be could, if you can maintain a section in the documentation which image version runs which kubectl version.

Additionally it would be great, if the latest image would be tagged with latest.

Thanks!

[2018-04-24 10:59] neumanndaniel commented on #17
#14 tells more details about it. I am testing the newest image of kured and modified the yaml file for it.

-> https://quay.io/repository/weaveworks/kured?tab=tags

[2018-04-24 14:10] neumanndaniel commented on #17
Using the latest image version master-b27aaa1 resolves the issue. As in #14 described this comes from the kubectl version drift between server and client. master-b27aa1 contains kubectl version 1.9.6

[2018-05-02 10:22] mxey opened #18 "Should always drain before reboot"
According to https://github.com/weaveworks/kured/blob/d7b9c9fbec26e113d8b90499c3e58bc06098581c/cmd/kured/main.go#L256, kured will only drain the node before rebooting, if the node was not already cordoned/unschedulable.

Just because a node is marked unschedulable does not mean all workloads were already drained. The node might have been cordoned manually but not drained before, kured might have s

[2018-05-07 13:11] damoon opened #19 "taint node with PreferNoSchedule until it gets drained"
In case of multiple nodes asking to restart, pods will be moved more often then needed, because they can start on the node that will be rebooted next.
The use of PreferNoSchedule on nodes waiting to be rebooted, will prefer scheduling pods onto already rebooted nodes.

link: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2018-07-04 14:43] plumdog opened #22 "Adding a chart to kubernetes/charts"
Hi,

I've just opened a PR - https://github.com/kubernetes/charts/pull/6470 - to add a helm chart for kured, with a view to making kured easy to helm-install.

I thought it'd be sensible for me to create an issue here for two reasons:
1) to just sort of check that the creator(s) of kured are fine with that
2) to see if anyone who understands kured better than me wanted to look at the chart and eit

[2018-07-21 22:35] anguslees opened #23 "Request: images for other architectures"
Feature request: Please provide images for other architectures (more than amd64) as part of your release.

kured needs to run on every node, and for my cluster that means amd64, arm, and arm64.  I can build those myself, but it would be better if other similar users could also benefit from some centralised effort to support other archs.  Thanks :)

[2018-07-24 18:37] jethrogb opened #24 "Release new version"
Are you planning to release new versions or are you recommending everyone uses git master?

[2018-08-04 07:13] anguslees opened #25 "lock on a separate/safe object rather than DaemonSet"
Current locking approach requires the kured job to have the RBAC privilege to be able to update its own DaemonSet.  This means a compromised kured job could redefine itself to (eg) elevate host access further(*).

Better (from an RBAC pov) would be to use a "harmless" resource type to store the lock annotation.  A ConfigMap (empty/dedicated for this purpose) would be ideal.

(*) I acknowledge that

[2018-08-04 11:43] anguslees commented on #23
If it helps, I have some cross-building (arm) Dockerfiles in https://github.com/anguslees/kured-docker - autobuilt images are at quay.io/anguslees/kured-{amd64,arm}.

Note the Dockerfiles are based on alpine, including a dbus-send replacement for `systemctl reboot`

[2018-08-08 22:44] davidkarlsen opened #26 "reboot not working: "Transport endpoint is not connected""
this is the output I get from kured:

[code]

[2018-08-08 22:46] davidkarlsen commented on #26
running image:
    image: quay.io/weaveworks/kured:master-5731b98

[2018-08-15 13:32] davidkarlsen opened #27 "draining but never gets to reboot"
Kured kicked in rightly, and disabled scheduling for my node:
[code]
I can see a number of pods being killed:
[code]
but then nothing more happens. I guess it fails at something - but the logs should tell why.

these pods are left (which are mainly daemons, except for the nginx-ingress:
[code]

any hints?

[2018-08-15 13:37] davidkarlsen commented on #27
Update:
I kubectl deleted the nginx pods, and it actually booted the node:
[code]

but should this not be reported in some way?

also - what can cause the failing messages at the end?

[2018-09-07 09:14] WebSpider opened #30 "Pulling latest doesn't work"
Hi!

For some reason, quay.io doesn't have an image tagged 'latest', even if commit c42fff300587b5501339543d617c37cfe8692439 seems to suggest there is a latest tag

Events of a new deploy (using the helm chart), when pointing to 'latest':

[code]

[2018-09-24 09:43] #12 closed

[2018-10-01 10:51] mvisonneau opened #31 "Parameterize the reboot function in order to be able to do other actions like shutdown for instance"
An interesting feature for me would be to be able to shutdown instead of rebooting the node. Running on AWS, I would like to let the ASG replace my instance once it has been shutdown.

[2018-10-04 14:39] dlespiau opened #32 "Consider adding a toleration to run pods on tainted master nodes"
Tainting master nodes seems like a widely used way of forbidding pods to be scheduled on master nodes. We want kured pods to also be created on master nodes though to manage their updates as well.

We consider adding the corresponding toleration so users aren't confused when kured doesn't reboot their master nodes (as seen in slack).

[code]

[2018-10-11 08:16] unly opened #33 "Docker Tag Names"
The Docker image tags available at https://quay.io/repository/weaveworks/kured?tab=tags are challenging. Based on the tag name or information given I can hardly identify what version is running. Especially difficult considering upgrading a Kubernetes cluster to a new version. In this case I would like to update kured to a newer version as well; preferably to the respective kubectl version. Docker

[2018-10-19 13:58] garethmorris78 opened #34 "Error testing lock: daemonsets.extensions \"kube-system\" not found""
Running K8s 1.11.2 on Azure Kubernetes Service and getting the errors with RBAC applied ( across all pods in the daemonset); using the yaml manifests under the master branch of kured repo.

[code]
[code]
[code]

[code]
[code]

kured is now referenced via https://docs.microsoft.com/en-us/azure/aks/concepts-security#node-security so would be good to get it working on aks :)

[2018-10-19 16:10] bboreham commented on #34
From your logs, and [this line in the code](https://github.com/weaveworks/kured/blob/master/cmd/kured/main.go#L285), it is trying to access a DaemonSet called `kube-system` in the `kured` namespace.

Which suggests you have some parameters the wrong way round?

[2018-10-20 09:01] garethmorris78 commented on #34
error was due to me passing in the defaults within the args instead of leaving them commented out.

i.e.
Yaml causing the error:
[code]
comment out defaults and now working yaml:

[code]

[2018-10-21 01:46] tdihp commented on #11
Would it be possible to use node labels (or, pod labels) to select nodes before reboot logic? So that if any critical pod / thing is underway on the node we can have some degree of control.

[2018-10-22 18:55] brantb commented on #27
I was being hit by this too. It turns out `kubectl drain` will hang if there is a `PodDisruptionBudget` preventing a pod from being evicted, and the `nginx-ingress` helm chart creates a couple of these by default. A newer version of the chart fixes this: helm/charts#7127

`kubectl drain` would have *eventually* returned if the `nginx-ingress` pods were removed from the node for some other reason l

[2018-10-22 18:59] davidkarlsen commented on #27
I think we close this as it was actually a PDB problem rather than flux - I fixed the chart.

[2018-10-22 18:59] #27 closed

[2018-10-24 08:52] amandadebler opened #35 "Vulnerabilities listed on quay.io"
See https://quay.io/repository/weaveworks/kured/manifest/sha256:bee4241779a29a7f7f6a8e5de7a8a5d4042317236ab8ee6d60d50832ad9e55ed?tab=vulnerabilities for quay.io's automated assessment of the most recent public build (oddly-tagged, but someone has already posted that issue: https://github.com/weaveworks/kured/issues/33)

Might some of these vulnerabilities be helped by using newer versions of the d

[2018-10-25 15:52] awh commented on #35
Hi @amandadebler - thanks for the report!

I suspect, although it is hard to be entirely certain, that it's not going to be possible to exploit those vulnerabilities - the actual kured binary is a statically compiled Go program, and it's only built on top of a Ubuntu image for access to the `systemctl restart` command. Unfortunately this has the side effect of including a whole swathe of vulnerabl

[2018-10-25 15:56] awh commented on #35
Also interesting https://github.com/coreos/clair/issues/534

[2018-10-25 16:00] awh commented on #35
I just pushed a build based on `ubuntu:16.04` with hash `4a689991aa24` (six days old according to docker) - here are the results:

https://quay.io/repository/weaveworks/kured/manifest/sha256:367cfdae38712fef23eef7bd278b5238fd612a4bb173712d993d8adbb77e7eff?tab=vulnerabilities

Pretty much identical to the month old master build AFAICT. I'm not really sure what to make of that, I would expect an off

[2018-10-25 16:14] awh commented on #35
Turns out I could have saved myself some trouble - if you follow the link you posted and then select the third tab down on the left you'll see a screen like this:

![kured-quay-package-scan-results](https://user-images.githubusercontent.com/1504438/47514911-64e26080-d879-11e8-8fbb-336dc8b45ded.png)

[2018-10-26 09:44] awh commented on #33
Yes, sorry about this - it's essentially an artefact of the fact that we continuously deploy kured internally, so there's no pressure on me to make external releases. The original plan was to tag an official release every time a new minor version of kubernetes came out, and publish the corresponding manifest on the [release](https://github.com/weaveworks/kured/releases) page, but as you can see I

[2018-10-26 09:47] awh commented on #24
Hi @jethrogb - I'm going to start making official releases. See [this comment](https://github.com/weaveworks/kured/issues/33#issuecomment-433351707) for a bit more information.

[2018-10-26 09:48] awh commented on #31
Huh, interesting idea! Thanks @mvisonneau

[2018-10-26 09:58] awh commented on #30
Hi @WebSpider - it's quite deliberate, and the reason is that it's bad practice to refer to `latest` images in deployment manifests (see [here](https://kubernetes.io/docs/concepts/configuration/overview/#container-images) for details). The commit you refer to is just for local testing with minikube.

[2018-10-26 09:58] #30 closed

[2018-10-26 10:05] awh commented on #25
Hi @anguslees - good thought, thanks. For other reasons I've been mulling introducing a kured CRD for a while, and that would make a good place to put the lock.

The node resource patching route is interesting - it's not immediately obvious to me how you could exploit that, any thoughts (other than just a plan denial of service attack I mean)?

[2018-10-26 14:06] unly commented on #33
I just realized another great option besides tags for Docker images would be a compatibility matrix matching kured to the kubernetes releases. Tags would stay the same and information would still be easy to access.

Looking forward to a new release 👍

[2018-10-26 14:55] awh commented on #34
Fixed by #5.

[2018-10-26 14:55] #34 closed

[2018-10-26 15:12] #32 closed

[2018-10-29 13:06] awh commented on #11
ISTM this could be accomplished using a `NodeSelector` on the kured pod template to stop the `DaemonSet` scheduling us on nodes that we don't want rebooted; is that sufficient?

[2018-10-30 10:11] awh commented on #26
I have seen that warning message intermittently, but then it rebooted anyway. If that wasn't the case here, it might be because of an incompatibility between the `systemctl` bundled with kured (16.04) and your distro (18.04.1). I'm working on a change that will use the systemctl from the host mount namespace which should address this!

[2018-10-30 12:21] tdihp commented on #11
Thanks @awh. Haven't tried NodeSelector/Affinity yet because I was under the impression that after node selection pod won't evict even if the condition changes. I'll try `NodeSelector` with `DaemonSet`.

[2018-10-30 16:13] awh commented on #35
I've just released a 1.1.0 build of kured, based on Alpine, which passes the [security scan](https://quay.io/repository/weaveworks/kured/manifest/sha256:9cb1aa3ffc06bd97c3a449eb69790fbda763c9c88195e293a03a3adfbfe4b512?tab=packages).

[2018-10-30 16:13] #35 closed

[2018-10-30 16:15] awh commented on #33
https://github.com/weaveworks/kured/releases/tag/1.1.0 as promised.

[2018-10-30 16:15] awh commented on #26
@davidkarlsen could you try again with https://github.com/weaveworks/kured/releases/tag/1.1.0 and see if you have better luck?

[2018-10-30 16:16] awh commented on #24
https://github.com/weaveworks/kured/releases/tag/1.1.0

[2018-10-30 16:16] #24 closed

[2018-10-30 16:18] awh commented on #9
@sabbour would you mind giving https://github.com/weaveworks/kured/releases/tag/1.1.0 a try?

[2018-10-30 16:20] awh commented on #4
Some progress on this - #39 moves us towards supporting CentOS/RHEL without external scripts...

[2018-10-30 17:06] #33 closed

[2018-10-30 17:11] #17 closed

[2018-11-08 14:54] AdamPitt opened #44 "Azure AKS Reboot failing - Error invoking reboot command: exit status 127"
The cordon and drain process is initiated but the reboot command fails. This then kills the container which causes the pods to permanently be cordoned and drained from every node every hour without the reboot occurring

Infrastructure
Azure AKS
`Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", Buil

[2018-11-09 11:42] AdamPitt commented on #44
If the command was just "reboot" then this would work fine, I think we should implement a variable allowing you to override the reboot command to achieve flexibility for different OS's

Might MR later

[2018-11-22 16:42] tgarlot opened #47 "Notifications to Microsoft Teams"
Hi,

I would like to use Microsoft Teams instead of Slack for drain/reboot notification. Implementation would be a lot similar as it's also using a simple webhook with a custom JSON structure.

Would you accept a PR for that?

thanks

[2018-11-23 15:49] EPinci opened #48 "Option to allow reboots only in a time window"
Hello there,

as a possible feature, can you add an option so that reboots can be constrained in a specific time window?
This way I would be able to have the reboots, let's say, happening only at night time.

Thank you

[2018-11-26 14:33] rmartinez3 opened #50 "Have alerts be get via alertmanager"
There are times in which we want to reboot nodes and a alert is blocking a reboot. instead of having to restart kured to add the alert in regex to allow reboot. If alerts are grabbed via prometheus alertmanager , this alert can be silenced via alertmanager and reboot will occur.

Pull request #42  adds this feature

Let me know what else is needed to accept this PR
Thanks

[2018-12-03 17:36] guilhem opened #51 "a daemon to reboot after some time"
Just a simple information to let you know that I created a daemon to reboot after some uptime.
https://github.com/barpilot/kured-toujours
It's really simple and alpha for now, but it can be useful for some people.

It's mainly used to reboot periodically every node and avoid some deadlock with docker, mounts… with the power of _kured_.

[2018-12-04 11:16] davidkarlsen commented on #4
With #39 on board - what more is needed?

[2018-12-04 23:16] rsohn commented on #4
It appears to me to be complete.

[2018-12-06 21:41] davidkarlsen opened #53 "nsenter: setns(): can't reassociate to namespace 'mnt': Operation not permitted"
running on master-114c349
[code]

[2018-12-22 18:18] DaveAurionix commented on #48
Potentially limiting these to one day in the week would be useful too, in order to avoid rebooting too often.  Limiting reboots to overnight would be a great first step though.

[2018-12-26 12:05] davidkarlsen commented on #53
I had an old manifest for new image.

[2018-12-26 12:05] #53 closed

[2018-12-27 09:27] yosri-ben-mahfoudh opened #55 "Prometheus SSL/TLS certificate"
Hello,

I was wondering if there is a way to specify prometheus ssl certificates a long with prometheus-url. Actually, kured is encountring the following error when trying to contact Promehtues:

kured-2wksk kured time="2018-12-27T09:04:02Z" level=warning msg="Reboot blocked: prometheus query error: Get https://monitoring-prometheus:9090/api/v1/query?query=ALERTS&time=2018-12-27T09%3A04%3A02.43858

[2018-12-28 17:35] jmreicha commented on #23
@anguslees I just opened https://github.com/weaveworks/kured/pull/56 if you're interested.

[2019-01-11 07:53] lunarfs commented on #48
Guess this should be solved by https://github.com/weaveworks/kured/pull/20/#pullrequestreview-123935393 "adding option to skip rebooting during weekends" The title is a bit missleading as the pullrequest allows you to specify days where it will not rebot the nodes

[2019-01-11 08:32] lunarfs commented on #48
You are right. My bad.

[2019-01-11 08:33] jcassee commented on #48
@lunarfs Would you consider generalizing #20 even more to include this use-case as well? :smile:

[2019-01-11 08:58] lunarfs commented on #48
so something like --allow-reboot=11:30-17:30 ?

[2019-01-11 09:23] jcassee commented on #48
I was thinking about something that would either match `days-to-exclude` or would supersede it. Some ideas:

#### Match `days-to-exclude`

I think `times-to-exclude` would be the logical equivalent name. For example:

* Only reboot during office hours: `--days-to-exclude=saturday,sunday --times-to-exclude=17:00-9:00`
* Only reboot during night-time: `--times-to-exclude=6:00-0:00`

Or use positive

[2019-01-21 18:05] kfox1111 commented on #48
What about a crontab format? It is used in kubernetes already in cronjob.

[2019-01-21 18:14] kfox1111 opened #59 "run script"
Some updates that can happen need to happen after the node is drained to not effect workload. (some kinds of docker upgrades for example)

So the procedure might be:
1. detect upgrades, flag node
2. controller sees flag, drains node
3. upgrades applied on the node
4. reboot
5. controller uncordons

Can a hook on the node agent be added to run a script before reboot but after drain?

[2019-01-21 18:20] jcassee commented on #48
@kfox1111 Yeah, but can the cronjob describe periods?

[2019-01-21 19:10] jcassee commented on #48
Nice, that could actually work!

[2019-01-21 19:41] DaveAurionix commented on #48
I'm not sure a cronjob will work.  Is that example a 9-5 continuous range or is it once an hour between 9 and 5 at discrete hourly intervals?  I ask because Kured could check for a reboot-required file at intervals but if it cannot obtain a lock, should it reboot as soon as it can (at any time/day) or should it wait and try again at the next discrete interval (risking not being able to reboot at a

[2019-01-21 19:43] DaveAurionix commented on #48
If five servers are trying to reboot, for example, and they all race to obtain a lock at 9am, how would that play out in practice?  Are we happy for reboots to be over five hours, one server per hour (in the hourly cronjob example given above)?

[2019-01-21 20:19] kfox1111 commented on #48
Its just time pattern:

[code]
that you can match against.

The first star is, match any minute. The next field is match only if one of the hours that is specified, any numeric month day, any month, only on mondays wendnesdays and fridays.

You can do stuff like, match only every other hour, */2, etc.

It could also be used as a frequency for how often you kick off your reboot test passes, but doe

[2019-01-22 00:29] kfox1111 opened #60 "security hardening"
Kured seems to have been built with the assumption that all nodes are trustworthy.

This assumption can be broken in a multitenant environment, or in an environment when a single node gets compromised.

With a quick look through of the code, there is some low hanging fruit that could potentially be fixed to tighten up security:

* The lock is implemented by tweaking the kured daemonset. But this h

[2019-01-30 18:21] etiennetremel commented on #4
Maybe I'm missing something but if I look at the changes introduced by #39, it doesn't let you execute a binary.
@awh, should we introduce a new flag for this purpose? I can help if needed

[2019-02-02 09:18] lunarfs commented on #48
I think the cron option is an excellent suggestion, it would also solve our issue in https://github.com/weaveworks/kured/pull/20 I will try to look into the code today and see if it makes sence to do a Pullrequest.

[2019-02-05 19:31] omerlh opened #61 "Get alerts via icinga API?"
Proposal: Allow to pass icinga URL and host/service for alerts. Kured will query icinga API and if there is an active alert on the specific host/service - the node will not be rebooted.

Useful for users (like us) who use icinga/nagios for monitoring.

[2019-02-08 15:30] theharleyquin commented on #48
Super excited to see the outcome of this also.

[2019-02-15 15:20] adhodgson1 commented on #60
In addition I am wondering whether we could tighten up the privileged container access by removing some of the unneeded Linux capabilities to help reduce the scope of the container?

[2019-03-07 17:07] yosbeleg89 opened #62 "Error: unknown flag: --blocking-pod-selector"
I have configured a Flag: `--blocking-pod-selector=runtime=long` to prevent kured to reboot some pods when running (according to the [documentation](https://github.com/weaveworks/kured/blob/master/README.md#blocking-reboots-via-pods)), now Kured pods are in a `CrashLoopBackOff` status and the logs are:

[code]

Which shows like the flag isn't supported. I'm using version `1.1.0` of kured.

[2019-03-11 13:39] bramvdklinkenberg opened #63 "Node stays on Ready,SchedulingDisabled"
We are using Kured on AKS and I regularly I see that nodes stay on status Ready,SchedulingDisabled and I have to uncordon them manually.
When I look into the log file of the kured pod it shows:
time="2019-03-06T06:30:27Z" level=info msg="Kubernetes Reboot Daemon: 1.1.0"
time="2019-03-06T06:30:27Z" level=info msg="Node ID: aks-default-13951270-0"
time="2019-03-06T06:30:27Z" level=info msg="Lock Ann

[2019-03-15 14:49] malaiwah opened #65 "kured is not compatible with rancheros"
Just in case someone tries the route of trying kured on rancheros and gets those errors:

time="2019-03-15T14:42:22Z" level=warning msg="nsenter: can't execute '/usr/bin/test': No such file or directory" cmd=/usr/bin/nsenter std=err
time="2019-03-15T14:42:52Z" level=warning msg="nsenter: can't execute '/usr/bin/test': No such file or directory" cmd=/usr/bin/nsenter std=err
time="2019-03-15T14:42:5

[2019-03-19 14:16] zeeZ commented on #55
Try mounting your CA certificate from a Secret or ConfigMap as `/etc/ssl/certs/ca-certificates.crt` or another one of the paths listed here:
https://golang.org/src/crypto/x509/root_linux.go

[2019-03-28 14:59] tbauers commented on #62
If you check out the source and compare the `1.1.0` tag to master you will notice that the selector isn't supported. To be able to use that flag you will need to build source and create your own container image. I just hit the same problem in my setup and stumbled on your issue trying to troubleshoot. Hope this helps!

https://github.com/weaveworks/kured/blob/1.1.0/cmd/kured/main.go

[2019-03-28 23:09] yosbeleg89 commented on #62
Thanks @tbauers for let me know that. I will go with that option if there is no plan to release soon an oficial updated release of kured.

@awh is there an estimated date for a next official release of kured? Thanks

[2019-03-29 09:44] voidengineer commented on #48
Any news on this?

[2019-04-03 09:55] vanto commented on #22
The referenced helm PR has been merged, this ticket can be closed.

[2019-04-03 09:58] #22 closed

[2019-04-08 15:08] ac-astuartkregor opened #67 "Kured memory usage seems high"
Hi folks,

Apologies if this seems like a daft question. I noticed that kured, as deployed in our clusters, is using quite a large amount of memory upon first glance as shown by `kubectl top pods`:
[code]

Is kured supposed to be using this much memory, and if so, what is likely to contribute to this usage? If this memory usage seems high, are there things that could be done to reduce it?

Thanks

[2019-04-09 22:49] patrickmslatteryvt commented on #67
No, that's not a daft question, here is what I get:
[code]

I'm running this version: `quay.io/weaveworks/kured:1.1.0`

I found recently that occasionally one of the pods would get OOMKilled, so I raised the deployment limits slightly
[code]
I originally chose the numbers off of observed usage values reported by Prometheus over a 48 hour period.
So far I've seen no issues with the updated values.

[2019-04-10 07:40] ac-astuartkregor commented on #67
Thanks for the details of your experience @patrickmslatteryvt, I'll try and take a look at any version updates. I'm looking to apply requests and limits to the daemonset myself, and this is when I discovered the memory usage.

I'll bump the version and report back.

[2019-04-10 13:49] patrickmslatteryvt commented on #67
We are using the default and deploying it in `kube-system` but I somehow doubt that change would cause an increase in RAM usage.

[2019-04-10 14:11] ac-astuartkregor commented on #67
Indeed, I'd be tempted to agree. I've applied memory limits and it hasn't complained at me.. yet. Will keep an eye on things.

I'm thinking that perhaps it can use the extra memory if it needs to but has no issues being limited, though not sure.

[2019-04-16 17:21] fortanix-bot opened #68 "Problems pulling docker image"
This morning I'm getting this error when trying to pull the kured docker image.

sudo docker pull quay.io/weaveworks/kured:master-5731b98
Error response from daemon: Get https://quay.io/v2/weaveworks/kured/manifests/master-5731b98: unknown: Namespace weaveworks has been disabled. Please contact a system administrator.

[2019-04-16 18:41] jethrogb commented on #68
Maybe related to http://status.quay.io/incidents/4lb8mr3fmpqg

[2019-04-17 09:08] mleneveut commented on #68
It is supposed to be resolved 4 hours ago, but I still got the issue :

[code]

[2019-04-17 09:56] AtulP123 commented on #68
I'm getting the same error as well. I changed the tag to 1.0.0, but that didn't help either

[2019-04-18 13:46] cdmurph32 commented on #68
Any update?  This image has been unavailable for two days.

[2019-04-18 16:51] slynickel commented on #68
I don't know what the long term fix is but if you're using v1.1.0 it appears you should use `docker.io/weaveworks/kured:1.1.0` instead.

@hiddeco or @bborehamI is this correct? I see you did https://github.com/weaveworks/kured/pull/69 to update the reference in the master branch to use `docker.io/weaveworks/kured:1.1.0` instead of quay.io. Is that the long term solution?

If it is, it would be gre

[2019-04-18 17:01] hiddeco commented on #68
Hi all of you,

Unfortunately Quay.io isn't working for us at the moment. The semi-permanent solution until this has been resolved is indeed to use the `docker.io/weaveworks/kured:1.1.0` image.

We have been working very hard to get our OSS images up on Docker Hub, but I am afraid `1.0.0` of Kured is not on Docker Hub yet. I will rebuild the `1.0.0` version in the next half hour and push it as `1.

[2019-04-18 17:09] hiddeco commented on #68
@slynickel I just made `1.0.0` available as `docker.io/weaveworks/kured:1.0.0-rebuild`

[2019-04-18 17:09] slynickel commented on #68
@hiddeco thanks, much appreciated!!!

[2019-04-18 17:21] RobCannon commented on #68
Can the kured*.yaml file get update to reference the new image location?

[2019-04-18 18:14] cdmurph32 commented on #68
Thanks

[2019-04-19 10:36] moltar commented on #68
I know this is a different repo, but getting the same issues for another `weaveworks` image:

[code]

[2019-04-19 10:37] moltar commented on #68
FYI, a local `docker pull` is also failing...

[code]

[2019-04-19 10:41] moltar commented on #68
https://github.com/weaveworks/flux/issues/1948

[2019-04-19 12:27] doug-fish opened #71 "kured-1.1.0.yaml references quay"
I noticed that the file https://github.com/weaveworks/kured/releases/download/1.1.0/kured-1.1.0.yaml still references quay not dockerhub, so the installation instructions fail.

[2019-04-19 17:29] #71 closed

[2019-04-19 17:30] doug-fish commented on #71
This is a duplicate of issue #68

[2019-04-19 18:26] patrickmslatteryvt commented on #67
I did note some issues today on a new cluster, after turning off memory limits I saw the memory usage climb to 40Mi on the kured pod on the node that that was actively being drained.
Therefore I raised my memory limits to 48MB.
[code]

[2019-04-23 15:33] Data-Jack commented on #68
Hi all, I can see that this has been fixed in the master now https://github.com/weaveworks/kured/blob/master/kured-ds.yaml. However the 1.1.0 release yaml that the REAMDME.md refers to in installation instructions still references the quay.io image https://github.com/weaveworks/kured/releases/download/1.1.0/kured-1.1.0.yaml .

[2019-04-29 09:42] jakaruna-MSFT commented on #68
is there any update for us

[2019-05-02 20:51] vitobotta opened #72 "Cron jobs"
Hi! Thanks for kured, very useful. I was wondering, if I have scheduled backups and right during a backup kured detects that a node requires rebooting, will the backups or any other cron jobs complete first or will they be terminated or something? Thanks

[2019-05-06 10:49] ac-astuartkregor commented on #67
I've had a chance to run kured for a few weeks and it does seem to be behaving itself with more stringent memory limits. I've not noticed it running into problems. Perhaps it'd be worth me putting in a PR for limits and requests.

[2019-05-10 11:05] strowi commented on #47
would be very interested in this..

[2019-05-16 01:58] edernucci commented on #68
@jakaruna-MSFT please change **quay.io** to **docker.io** in yaml.

[2019-05-16 04:31] jakaruna-MSFT commented on #68
@edernucci Thank you.
We are using that workaround now.
We have referenced this yaml https://github.com/weaveworks/kured/releases/download/1.1.0/kured-1.1.0.yaml in our document.  In that release its pointing to quay.io.
Can we update the release with docker.io

[2019-05-16 08:15] sylr commented on #63
I've encountered this twice this moring.

[2019-05-16 13:05] awh commented on #68
* I have added https://github.com/weaveworks/kured/releases/download/1.1.0/kured-1.1.0-dockerhub.yaml to the 1.1.0 release, which sources the image from Dockerhub
* I have just made a 1.2.0 release which has a https://github.com/weaveworks/kured/releases/download/1.2.0/kured-1.2.0-dockerhub.yaml manifest

[2019-05-16 13:05] #68 closed

[2019-05-16 13:07] awh commented on #62
@yosbeleg89 @tbauers https://github.com/weaveworks/kured/releases/1.2.0

[2019-05-16 13:07] #62 closed

[2019-05-16 13:19] awh commented on #63
@bramvdklinkenberg interesting - thanks for the report. @sylr are you on AKS too?

Kured simply runs `kubectl uncordon $node`- you can see the output from that command above indicated success:

[code]

The only thing that comes to mind is that there's some incompatibility between the version of kubectl in the kured images you're using and AKS - next time this happens, it would be interesting if yo

[2019-05-16 13:23] awh commented on #72
Hi @vitobotta - interesting question. Are these cron jobs configured at the OS level or are they kubernetes CronJob resources? If they're the latter, you can use the new [blocking reboots via pods](https://github.com/weaveworks/kured#blocking-reboots-via-pods) feature in kured 1.2.0. If it's the former, I'm not sure what will happen to be honest - kured just runs `systemctl reboot`, so unless that

[2019-05-17 06:00] bramvdklinkenberg commented on #63
Hi @awh , I am no longer working at the customer where I encountered the issue. Maybe @sylr can provide the requested info

[2019-05-17 10:55] vitobotta commented on #72
Hi @awh , I was referring to Kubernetes cron jobs since I prefer not doing anything outside K8S if I am using K8S for my apps. I checked that page but there would be a problem with the name of the pods used by cron jobs because they change. For example when MySQL jobs are running the jobs are named something like `mysql-cluster-auto<timestamp>-backup`. Any ideas of how to handle this? Thanks!

[2019-05-17 11:14] awh commented on #72
@vitobotta great, that makes things much simpler. You can specify additional labels on the pods created by `CronJob` resources - you have to get them in the right place though:

[code]

then add

[code]

to your kured configuration.

[2019-05-17 11:18] vitobotta commented on #72
I will have to check if I can change the specs of the cron jobs but it seems a little complicated because they are created by the MySQL operator. I was actually mistaken in that they are not exactly cron jobs in Kubernetes terms, they are one-time jobs created by a separate scheduler which is in the operator, or at least I think it works this way more or less. I will have to investigate. Thanks fo

[2019-05-17 11:18] #72 closed

[2019-05-22 15:04] lumi017 commented on #4
@awh can you please elaborate? We still cannot use `needs-restarting -r` as sentinel.
The current implementation is using `sentinelCmd := newCommand("/usr/bin/nsenter", "-m/proc/1/ns/mnt", "--", "/usr/bin/test", "-f", rebootSentinel)`

Some tests to confirm it doesn't work with a command:
[code]
[code]
Can we have a successful implementation to depend on a return code of `needs-restarting -r` or y

[2019-05-24 00:15] rsohn commented on #4
It seems like "`test`" might not be the right mechanism to use here.  Certainly, the `-f` option is a problem, as that checks for the existence of a file, rather than a return code.

Perhaps `eval 'needs-restarting -r >/dev/null'` is closer to what is needed here?

[2019-05-24 19:54] lumi017 opened #76 "Set delay between reboots"
A flag to set delays between reboots should be added. Just like `--period` for checking for sentinel file, we should have something like `--reboot-delay` to specify a time frame between reboots of the nodes which have the sentinel file. A use case I am having is a cluster containing large pods taking 30 min to load. If I let kured do its job, the nodes are restarted too quickly for the pods to rec

[2019-06-05 15:15] ryanfernandes09 commented on #63
I've got the same issue using AKS and the versions are as follows.
1. Kubernetes version 1.13.5
2. Kuredi image: weaveworks/kured:1.1.0
3. kubectl client: Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc0", GitCommit:"d4cacc0" ...}

[2019-06-18 13:14] sylr commented on #76
Seconded

[2019-06-18 13:17] sylr opened #78 "Drain timeout"
It would be great to be able to define a timeout for pod eviction.

If drain did not succeed within the timeout kured would stop trying to evict pods and release the lock.

This would be handy when pod disruption budgets does not allow eviction.

Regards.

[2019-06-20 12:57] adusumillipraveen opened #80 "Feature request : Give ability to override slack channel name"
Slack incoming web hook lets you override channel name. It would be good to give an option to override, as we can have single incoming web hook integration but send notifications for different environments to different channels.

[2019-07-02 07:15] mleneveut commented on #48
Any update ? We can't used kured in production without this feature.

[2019-07-02 15:44] DaveAurionix commented on #48
@mleneveut As a workaround whilst we wait, at GivePenny we release a Kubernetes deployment on a schedule once per week that deploys Kured at a certain time, then another automated release 2hrs later that deletes the k8s deployment (removes Kured).  That keeps our reboots to a controlled day-of-week and time window.  By accident it also saves a little reserved RAM and CPU outside of those periods.

[2019-07-22 17:01] MiyKh commented on #48
A possible workaround can be to set a cronjob to disable the reboot on each node and delete the annotation only in the time window

[2019-07-24 15:38] kinihun opened #82 "When Pod Disruption Budget blocks Node draining, no restart is possible"
Currently for a Cluster running Istio, Node draining can be blocked by Kubernetes due to PodDisruptionBudget policy configuration. When this occurs, Kured until the lock timeouts.

Kured should ignore this error and reboot the Node anyway.

`
time="2019-07-24T14:28:47Z" level=warning msg="error when evicting pod \"istio-galley-75466f5dc7-cz7sd\" (will retry after 5s): Cannot evict pod as it would

[2019-07-24 15:52] awh commented on #82
I'm not sure this is the correct default - presumably one has configured a disruption budget for a reason :smile: But certainly we can have it as an option.

I'd rather avoid parsing the output of `kubectl drain`, so this will have to wait until after we migrate away from embedding `kubectl` to using the [library version of drain](github.com/kubernetes/kubernetes/pull/72827).

[2019-07-25 11:41] winjer commented on #4
PR #77 Seems to work ok and it would be great if someone is able to review it and merge it. Is that possible? @awh?

[2019-08-15 01:32] rjkernick opened #83 "Integration with sysdig"
I know there is integration with prometheus to deal with when alerts are firing. Is there any way to do the same functionality against Sysdig?

[2019-08-17 03:15] adelisle commented on #63
Had an issue just like this, versions following.

1. AKS Kubernetes server version is `1.12.7`
2. The kured image version is `weaveworks/kured:1.2.0`
3. The working local kubectl version is `version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"go1.12.5", Compiler:"gc", Plat

[2019-08-19 08:21] muellermatthias opened #84 "Nodes are getting rebooted even though the underlying VMs are stopped"
In our project we stop our VMs over night (9 PM to 7 AM) to save money. This configuration applies to the VMs for our AKS clusters as well.
Last friday at 4/5 AM we got a message in our slack channel that kured has rebooted the cluster nodes. That overlaps with the time frame when a node shouldn't be up. I checked it in the Azure Portal and the VMs were stopped successful the day before. They were

[2019-08-24 09:17] hermanho commented on #63
It will has this problem when there is only 1 node in AKS because the pod cannot be re-created after node rebooted.

[2019-09-04 08:16] #84 closed

[2019-09-19 14:21] EliasKnutsson commented on #48
Any progress on this? Really needed future for us in order to use it in Production env.

[2019-09-22 22:13] HansK-p opened #89 "Kured v.1.2 fails on Kubernetes v.1.16 (on prem, kubeadm created)"
Kured v.1.2 fails on my kubeadm created K8s v.1.16.0 cluster. It seems that this issue has been solved by fix #75, which isn't a part of a release yet.

The error message I received before compiling kubed from the latest source was:

time="2019-09-22T19:45:07Z" level=fatal msg="Error testing lock: the server could not find the requested resource"

It would be really nice to get a kubed release v.1

[2019-09-27 09:40] ujoergen commented on #89
Hi @HansK-p

Did you get it to run on 1.16?

[2019-09-27 12:03] therock commented on #89
seems to work if you enable this on your api-servers
--runtime-config=extensions/v1beta1/daemonsets=true

see https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals

[2019-09-27 15:41] HansK-p commented on #89
It worked well for me on a kubeadm 1.16 created K8s cluster after I compiled kured using the latest source code. Kured have rebooted my kubernetes nodes more than once without any issues related to kured running on K8s v. 1.16.

[2019-09-29 13:42] SerialVelocity commented on #89
@awh Is it possible to get a new release tagged so kured works on K8s 1.16?

[2019-10-01 17:07] strowi commented on #47
at least for MSTeam it just works if you put the Teams-webhook for  "--slack-hook-url=..."

[2019-10-09 16:18] arianmotamedi commented on #60
There hasn't been any activity on this in a while but do we know what the minimum set of requirements for the container to run are? Ideally we shouldn't have to run it as root.

[2019-10-16 04:45] oronboni opened #91 "Set the nodes update/restart order"
Feature request: ability to set the order of the nodes based configured query.

For example Statefullset pod: draining Prometheus with only 1 replica cause Metrics lost.

In order to prevent more than 1 drain process with metric lost, set Prometheus node to be the latest upgrade node and by doing so prevent moving Prometheus more than once.

[2019-10-16 14:23] oronboni commented on #91
Feature already asked: taint node with PreferNoSchedule until it gets drained #19

[2019-10-16 14:23] #91 closed

[2019-10-16 14:23] oronboni commented on #91
Feature already asked: taint node with PreferNoSchedule until it gets drained #19

[2019-10-16 14:35] #15 closed, assigned to nobody

[2019-10-18 22:06] ReSearchITEng commented on #89
we need both image and helm chart update.
I can take care of the helm chart once image is ready.

[2019-10-21 19:10] lumi017 opened #92 "Better project maintenance"
I have noticed a bunch of pull requests fixing multiple issues which are not merged into the project for a while. Is it possible to have a better repo maintenance? Thanks!

[2019-10-29 17:27] sauryadas opened #93 "Issue with Kured and cluster autoscaler running together"
When the first node reboots, CAS brings up another node to place the pending pods drained and waiting to be scheduled. Once the process of rebooting all nodes is complete, there is this one node that has not been patched with reboots. The process of rebooting nodes and the CAS bringing up a new node that is not patch continues. Do you have any suggestions on how this should work?

[2019-11-05 11:06] lukasmrtvy opened #94 "Feature request: shoutrrr implementation ( go notifications library )"
I would be nice to implement notification library like https://github.com/containrrr/shoutrrr, to support out of the box multiple providers.

Its not so good as apprise, but there is chance that multiple providers will starts to popup soon.

[2019-11-06 11:28] sylr commented on #93
Personnaly I patch the init script of the new nodes to upgrade the whole system and reboot the nodes if there are updates that require a reboot.

[2019-11-07 04:27] mathieu-benoit opened #95 "kured doesn't work with tainted nodes"
As soon as we taint our nodes kured won't be anymore scheduled on them, this PR #88 is implementing the fix for this.

[2019-11-07 12:51] invidian commented on #95
Note: the same can be done using kured helm chart, as it has tolerations configurable: https://github.com/helm/charts/tree/master/stable/kured.

[2019-11-07 14:10] mathieu-benoit commented on #95
Oh ok good to know there is an Helm chart, thanks @invidian! Is it the recommendation moving forward to deploy kured? Are you still keeping the YAML files? Looks like maintaining both places could be redundant and confusing?

[2019-11-07 14:56] mathieu-benoit opened #96 "Is kured only working for Linux?"
If it's the case (and not working with Windows Nodes), is it accurate to add this below in the DS definition?
[code]

[2019-11-07 21:29] elutsky commented on #11
@awh slightly different question, maybe I am missing something - we are looking to the ability to run kured on all nodes, but to be able to have some control over the order of reboot, or just to say "reboot this node(s) last".
Use cases are, for example, stateful sets, Prometheus, ... - we can be fine with moving it from node to node, but would like to do this once during the restarts on the clust

[2019-11-08 02:15] stealthybox commented on #89
Thanks all.
As a workaround, you should be able to use `weaveworks/kured:master-4beddb5`.
That should have the AppsV1 change as well as the new `--reboot-days` feature.

You can specify this image tag as an override for the current helm chart

Related.
https://github.com/weaveworks/kured/pull/66#issuecomment-549486983

[2019-11-13 10:33] DaveAurionix commented on #48
@stealthybox Really appreciate the work done on Kured, it seems the best automated node reboot agent for Kubernetes and we really depend on it for applying security patches - thank you.

Thanks also for merging the pull request for this issue into master (#66) - do you know roughly when a Release might be coming out that includes this work?

[2019-11-13 16:46] nickmcdowall opened #97 "Formal release (to include scheduling changes)?"
Hi,

We would like to make use of the new scheduling flags that were added after version 1.2.0 was released. (We are using kured via the stable helm charts).

I notice that dockerhub contains a tag 'master-4beddb5' which does contain the scheduling changes however is a new formal version likely to be released soon?

[2019-11-14 12:26] solomson opened #98 "Slack invalidates webhook in public repos"
We've set the attribute  --slack-hook-url in a public Github repo
After we got a new token, Slack auto-detected this and auto-invalidated it.
I can't see any way to set secrets or mount volumes with the Kured chart, so I'm thinking this currently is not possible to do anymore?

Obvious workaround is just to set the attribute outside git, but this works against our GitOps workflow.

[2019-11-18 09:39] evrardjp commented on #97
That would be awesome.

[2019-11-18 09:41] evrardjp commented on #89
Please also watch https://github.com/weaveworks/kured/issues/97

[2019-11-20 06:41] rhockenbury commented on #96
Correct.  It does not work on windows server nodes because pod privileged capabilities are not supported on windows.

[2019-11-20 15:02] nicolas-marcq commented on #89
@stealthybox . The last docker image seems locked.
[code]

[2019-11-20 16:09] nicolas-marcq commented on #89
New error on the image `kured:master-4beddb5`

[code]

[2019-11-20 16:24] nicolas-marcq commented on #89
Ok, it seems that we cannot use flags like described in the doc.
This doesn't work:
[code]

This is ok
[code]

[2019-11-20 16:34] nicolas-marcq commented on #89
On kubernetes 1.14 I had to add a permission on the Cluster role:
[code]

[2019-11-21 11:00] nicolas-marcq opened #99 "Error acquiring lock: daemonsets.apps \"kured\" is forbidden: User \"system:serviceaccount:kube-system:kured\" cannot update resource \"daemonsets\" in API group \"apps\" in the namespace \"kube-system\"""
On the last version from master (4beddb5338)
Here si my logs
[code]

My rbac config:
[code]

[2019-11-21 15:43] SerialVelocity commented on #89
@nicolas-marcq you can use flags like described in the doc. It looks like you have done the equivalent of `"--reboot-days sat,sun"`. I'm assuming this is because you used kubernetes and instead of:
[code]
you did:
[code]

[2019-11-21 17:49] nicolas-marcq commented on #89
You are right @SerialVelocity

[2019-11-25 14:28] nicolas-marcq commented on #99
The log was explicite, just replaced put by "update" and it works.
Thanks for your work.

[2019-11-25 14:28] #99 closed

[2019-11-26 16:50] #80 closed

[2019-11-26 17:27] bboreham commented on #76
You could have a Prometheus alert on the not-ready condition, which would then delay further reboots.
This alert could have a special routing so nobody actually gets notified, but kured would see it.

[2019-11-26 17:31] bboreham commented on #60
@kfox1111 no plans to add a separate service in this project.
Making the locked object independent of the daemonset seems like a good idea - could be a runtime parameter?

[2019-11-26 17:34] bboreham commented on #98
Yes, it's a bad idea to put secrets in a public repo.

There is no chart in this repo; perhaps file issues about that where you found it.

You could look into "sealed secrets" which are decrypted on apply.  Still, there needs to be something outside of your public git.

[2019-12-02 09:32] dannyherstell commented on #97
Any news about this topic?

[2019-12-05 02:36] archmangler opened #101 "kured 1.2.0 does not support --reboot-days: Error: unknown flag: --reboot-days"
The documentation for kured shows a number of flags which cannot actually be used in 1.2.0, one of which is --reboot-days:

Using kured docker container 1.2.0:

[code]

- The documentation says the scheduling options should be available:

  https://github.com/weaveworks/kured#disabling-reboots

- The help shows these flags are not available, however the documentation suggests it is intended to be

[2019-12-05 02:41] archmangler commented on #89
This does not seem to be working even with the right yaml syntax in 1.2.0. See issue #101

[2019-12-05 02:42] archmangler commented on #101
My yaml output at application deploy time:

[code]

[2019-12-05 10:11] SerialVelocity commented on #89
@archmangler Why would it work with 1.2.0? It says above you need to use `weaveworks/kured:master-4beddb5`

[2019-12-05 10:11] SerialVelocity commented on #101
Coped from issue #89:

So the issue does not suggest it is available in 1.2.0.

[2019-12-05 17:43] archmangler commented on #101
Thanks @SerialVelocity  - I missed the reference in the issue to a workaround.

[2019-12-06 03:03] archmangler commented on #101
Currently  working with the workaround of using master-4beddb5.

[2019-12-06 03:03] #101 closed

[2019-12-06 04:28] archmangler opened #102 "Kured at scale: Reboot coordination for Dozens to Hundreds of AKS clusters?"
Use case as follows:

- I have dozens of clusters and will approach hundreds in the near future.
- To make automated reboots of dozens of clusters manageable, I need to stagger schedules, so each AKS cluster, or a subset of clusters, has it's own unique schedule.
- However the AKS clusters are a dynamically expanding and contracting list, so I would prefer a more dynamic way of limiting the number

[2019-12-15 19:14] oronboni opened #103 "Kured - lock job fails"
Azure: AKS-ENGINE
K8S: 1.14.1
Description: get error (sometimes) in the lock job.

Error message:
error: --overwrite is false but found the following declared annotation(s): 'weave.works/kured-node-lock' already has a value ({"nodeID":"xxx","metadata":{"unschedulable":false}})

[2019-12-16 08:11] kwaazaar opened #104 "Next release?"
Readme describes the use of the 1.2 image, but also describes the scheduling parameters which, as I just found out, are not included in release 1.2.

It's been a while, so when can we expect a new release?

[2019-12-16 10:21] desreela opened #105 "Not rebooting on schedule"
Hi,

I have kured configured to run the reboots only during the weekends in Azure Kubernetes Service. However it's not rebooting the nodes during the weekend even after the /var/run/reboot-required file is created 8 days ago.
I am using the image tag:master-4beddb5 as i could find it as the only one supporting --reboot-days switch.

Daemonset Config:
-----------------------
        - name: kured

[2020-01-05 15:30] #103 closed

[2020-01-09 04:26] rnarayana commented on #104
I deployed it directly from master and it is working fine for the last 1 month. Wonder why the release was not created?

[2020-01-09 22:12] #95 closed

[2020-01-09 22:38] #96 closed

[2020-01-10 12:37] mathieu-benoit commented on #96
Thanks! So I need to use this command below to avoid any failure with Windows Nodes:
`helm install kured stable/kured --set nodeSelector."beta\.kubernetes\.io/os"=linux`

[2020-01-10 12:39] mathieu-benoit commented on #95
So to reflect that PR mentioned, I need to do this with the Helm chart:
[code]

[2020-01-10 23:50] prabhakarreddy1234 commented on #63
@hermanho  so how to re-create the pods after node reboot?

[2020-01-17 09:15] evenh commented on #63
Encountered this problem on AKS as well:

[code]

[2020-01-17 09:23] sylr commented on #63
Each time I get this is when the reboot can not occur because a Pod Disruption Budget does not allow pods to be killed on the node kured is trying to drain.

[2020-01-17 09:33] evenh commented on #97
An update from @weaveworks would be appreciated. Given the number of issues/PRs and low frequency of development, opening up for community maintainers might be an option?

[2020-01-17 11:27] hermanho commented on #63
`kubectl uncordon <your node name>`

[2020-01-20 13:05] dholbach commented on #104
Duplicate of #97.

[2020-01-20 13:05] #104 closed

[2020-01-23 10:35] ChapChap commented on #82
Or else, can kured at least catch this error and handle it by giving up on the reboot of this node and throw an error

[2020-01-27 15:46] tkollo opened #106 "1.3.0"
Hi,

It's not an issue, more a request:
The current master branch is compatible with 1.15.x kubernetes but only 1.2.0 has a release which is only tested up to 1.14.1, could you release a new version here that is compatible with 1.15.7 (we would like to use it on new AKS clusters that use latter version, ideally installed straight from this github), it would be a great help if you could add it.

[2020-01-28 11:22] akcrisp opened #107 "rbac fail with Azure kubernetes server version 1.14.8 - for your info (fixed)"
kured build master-f6e4062

Issue: containers fail to deploy

Error message: -

fatal msg="Error testing lock: daemonsets.apps \"kured\" is forbidden: User \"system:serviceaccount:my-system:kured\" cannot get resource \"daemonsets\" in API group \"apps\" in the namespace \"my-system\""

Fix: -
update kured-rbac.yaml (latest from git as of 28/1/2020)  -

From -

- apiGroups: ["apps"]
  resources: [

[2020-01-28 14:59] akcrisp commented on #107
this is not needed when using latest kured-rbac.yaml file.

[2020-01-28 14:59] #107 closed

[2020-01-28 14:59] akcrisp commented on #107
this is not needed when using latest kured-rbac.yaml file.

[2020-01-29 03:38] onedr0p commented on #106
This project seriously needs some loving from the maintainers.

[2020-01-30 00:52] jrryjcksn opened #108 "Kured helm chart references invalid bitnami/kubectl tag"
See issue: https://github.com/helm/charts/issues/20433

[2020-02-03 12:38] kwaazaar commented on #106
It's becoming hard to use, because current version has vulnerabilities. Not very strange if the images are not rebuild regularly. Tag 'latest' was built 9 months ago: https://hub.docker.com/layers/weaveworks/kured/1.2.0/images/sha256-0d4bf4911f10ef1e3bd088f331e9412cf2d870bec2780d555c4671774503c73c

[2020-02-03 19:50] tkollo commented on #106
@kwaazaar

Hm, that's unfortunate, do you know of any other alternative?

[2020-02-04 15:09] dholbach commented on #106
Hello everyone. We will be working on a new release soon. Can we try to disentagle the conversation points a little bit?

So
- #97 is about a new release
- can somebody take a look at #89 regarding the new Kubernetes releases and maybe test it?
- regarding CVEs:
  - CVE-2019-14697 [was discussed](https://github.com/weaveworks/kured/pull/100#issuecomment-558989222) in #100
  - can somebody check wh

[2020-02-05 14:37] dholbach commented on #106
CVE-2018-20679 and CVE-2019-5747 should be fixed since Alpine 3.10.0 as well, which has Busybox 1.30.1.

Closing this issue as duplicate of #97.

[2020-02-05 14:37] #106 closed

[2020-02-05 14:42] dholbach commented on #108
Looks like `autolock` was introduced in the Helm chart through https://github.com/helm/charts/pull/17246 - the discussion back then was not uncontroversial.

[2020-02-05 14:43] dholbach commented on #108
There's neither `bitnami` nor `autolock` mentions in `kured` master.

[2020-02-05 15:28] dholbach commented on #89
I just tested this with 2 node cluster with kubeadm 1.16.2 and kured (master-f6e4062).

Any more feedback from other testers? Please speak up, as we'd like to get 1.3.0 out some time soon.

[2020-02-05 15:56] onedr0p commented on #89
@dholbach I am currently running Kubernetes `v1.17.2` do you foresee any issue? In any case I'll give this a go tonight.

[2020-02-05 16:08] dholbach commented on #89
@onedr0p I know people have tested this already and gave their :+1:, but as you'd run this from `master` (and not a released version of kured) maybe better check on a test cluster?

[2020-02-05 21:52] HansK-p commented on #89
I've been running weaveworks/kured:master-f6e4062 on a v1.17.0 cluster for a few days with start-time and end-time set.

Things seems to be working as they should, but so far there has been no reason reboot. So it's not really much of a test - yet. but at least all logs from Kured so far indicates that Kured is working as it should in a Kubeadm configured K8s v1.17.0 cluster.

[2020-02-06 14:05] onedr0p commented on #89
Same with @HansK-p post. I have it deployed and the logs don't indicate an issue. Won't know for sure until a reboot is triggered by a security update.

[2020-02-12 14:13] mmisztal1980 commented on #47
What's the status of #49 ? A lot of ppl could really use it by now.

 Can it be added and the generic impl be postponed till somebody has the actual time to do it?

[2020-02-14 19:01] SerialVelocity opened #110 "Add a way to force reboot a node"
Sometimes reboots need to be forced on a node. It would be nice if there was a way to force the node to restart outside of `start-time`/`end-time`, `blocking-pod-selector`, etc

Maybe if `/var/run/reboot-required` contains the text `force`?

[2020-02-18 12:07] mtparet commented on #108
cf https://github.com/helm/charts/pull/20841 we should close the issue here.

[2020-02-18 13:35] dholbach commented on #108
Thanks for the pointer @mtparet

[2020-02-18 13:35] #108 closed

[2020-02-20 09:41] LouisKottmann commented on #97
Hello, what is blocking the release of a new version?

[2020-02-21 10:00] mmisztal1980 commented on #105
We've set up kured using tag: `master-f6e4062`

Kured is set execute reboots in the following time-window: `00:00 - 04:00` daily, using the following set of overrides to supplement it's regular `values.yaml` :

[code]

We've executed `sudo touch /var/run/reboot-required` on one of the cluster nodes to verify the reboot functionality.

This is the stdout output of the pod running on the node contai

[2020-02-21 16:06] dholbach commented on #89
I did some testing for #111 following the instructions in #112 and it looks like we're good. I'll close this issue now. Please reopen if your tests indicated anything else.

[2020-02-21 16:06] #89 closed

[2020-02-21 16:08] dholbach commented on #97
Thanks for hanging in there everyone.

We're close! We want to get the following PRs landed still: https://github.com/weaveworks/kured/milestone/1 - any additional testing and feedback is appreciated.

[2020-02-24 08:01] evrardjp commented on #97
Which PRs?

[2020-02-24 09:02] dholbach commented on #97
The PRs are merged now. We're testing master in our Dev environment. Test feedback from anyone else is appreciated.

[2020-02-25 10:22] #97 closed

[2020-02-25 11:43] dholbach commented on #97
1.3.0 is out now: https://github.com/weaveworks/kured/releases/tag/1.3.0 :fireworks:

[2020-02-25 11:43] dholbach commented on #89
1.3.0 is out now: https://github.com/weaveworks/kured/releases/tag/1.3.0 :fireworks:

[2020-02-25 11:43] dholbach commented on #106
1.3.0 is out now: https://github.com/weaveworks/kured/releases/tag/1.3.0 :fireworks:

[2020-02-25 11:53] evrardjp commented on #89
awesome thanks!

[2020-02-26 13:36] DanielShor opened #115 "No retries when there is an error with testing lock"
We run Kured (currently 1.2.0, will move to 1.3.0 shortly) on AKS-Engine cluster, K8s version 1.14.1.
We sometimes have issues with API server availability, which causes timeouts in some components.
We are getting a lot of these errors from Kured pods:
`level=fatal msg="Error testing lock: Get https://10.0.0.1:443/apis/apps/v1/namespaces/wdatp-infra-system/daemonsets/kured: dial tcp 10.0.0.1:443:

[2020-02-27 13:56] pniederlag opened #116 "verification of version compatibility"
In the version compatibilty 1.3.0 is marked as shipping kubectl 1.15.x and being compatible with kubernetes 1.15, 1.16 and 1.17.
Also it is stated that

If kured 1.3.0 ships kubectl 1.15.x, shouldn't it be compatible with 1.14, 1.15 and 1.16?

https://github.com/weaveworks/kured/blob/master/README.md#kubernetes--os-compatibility

[2020-02-27 16:58] pniederlag commented on #116
Installation of kured 1.3.0 worked flawless on an AKS based kubernetes cluster with 1.14.8.

Now testing via `sudo touch /var/run/reboot-required` wether reboot will be performed as set by schedule

[2020-03-03 13:14] evrardjp opened #117 "Clean up notifications system and implement generic notifications"
Hello folks,

I've noticed that there are multiple PRs for notifications (see [1] and [2]), and I wonder if we shouldn't instead just write a generic notification system. This would avoid proliferation of ``<insert my favorite notification tool here>``, at the expense of not having "everything bundled" into kured directly.

I would like to have feedback before starting to write this.

The idea wou

[2020-03-05 08:45] evrardjp commented on #9
I think we can close this.

[2020-03-05 08:46] evrardjp commented on #11
This is an Oct 2018 issue, should we close it, and move to new issues for extra questions instead?

[2020-03-05 08:48] evrardjp commented on #14
I am curious, does it still happen? Should we try to reproduce it nowadays?

[2020-03-18 16:34] remiserriere commented on #63
Hi guys, we just had this issue on one of our AKS cluster but we don't have any PDB configured...
- AKS Version: v1.15.7
- kured image: docker.io/weaveworks/kured:master-f6e4062

[2020-03-19 09:20] remiserriere commented on #105
Hi,
I've also had the same issue when we first configured scheduled reboots using the 1.2.0 release, using image tag f6e4062 fixed that.

[2020-03-20 08:42] d-kukharenko opened #120 "Error: unknown flag: --time-zone"
Version : 1.3.0

Expected behavior: Adding --time-zone argument to KURED sets the given timezone.

Actual behavior: Adding --time-zone argument causes KURED to fail on start.

Details:
I have my KURED set up from Terraform

`resource "helm_release" "kured" {`
` name          = "kured"`
  `chart         = "stable/kured"`
  `repository    = "${var.QUAY_HELM_CONTAINER_REGISTRY}"`
  `version       = "

[2020-03-21 22:42] andrsp opened #121 "Define grace time between drain and reboot"
Sometimes reboot occurs too quickly and pods on drained node stuck at terminating state before node comes back.

Could you please add some option to define a grace period to complete drain (wait for evicted pods to be running on different nodes) and then proceed to reboot?

It also can be achieved by custom drain command (which is hardcoded now)

[2020-03-25 14:29] #9 closed

[2020-03-25 14:47] evrardjp opened #122 "Implement configurable sentinel/reboot commands"
I checked a few issues/PR, I can only notice that establishing a configurable sentinel and reboot command (see [1]) would allow us to close a few other issues and PR:
- https://github.com/weaveworks/kured/issues/26
- https://github.com/weaveworks/kured/issues/4
- https://github.com/weaveworks/kured/pull/77
- https://github.com/weaveworks/kured/issues/23#issuecomment-410443836
- https://github.com/

[2020-03-25 14:51] evrardjp commented on #117
That would also help on https://github.com/weaveworks/kured/issues/47#issuecomment-537041883 , on https://github.com/weaveworks/kured/pull/49 .

[2020-03-25 14:57] dholbach commented on #11
That might make sense, yes. Please reopen if you feel this is still necessary. A clear update would be welcome in this case too.

[2020-03-25 14:57] #11 closed

[2020-03-25 14:58] dholbach commented on #48
https://github.com/weaveworks/kured/releases/tag/1.3.0 has been released and includes #66.

[2020-03-25 14:58] #48 closed

[2020-03-25 15:02] evrardjp commented on #51
@guilhem thanks for the info. I suppose that if you really want to maintain your `kured-toujours`, we could document it in this repo...

@dholbach I think we can close this one now.

[2020-03-25 15:04] evrardjp commented on #55
IMO, this can be closed. @dholbach could you press the button, please? :D

[2020-03-25 15:06] evrardjp commented on #59
I am not sure we should keep this issue open... Kured **is** about rebooting :)
Though I suspect that for your case, having a configurable restart command could do the trick?

[2020-03-25 15:08] evrardjp commented on #60
I think this might be partially linked to https://github.com/weaveworks/kured/issues/25

[2020-03-25 15:10] evrardjp commented on #61
I suppose this could be implemented in a similar fashion as https://github.com/weaveworks/kured/blob/834e7d191d029c733930eb561e3f40ace470d8a3/cmd/kured/main.go#L153-L167 .

[2020-03-25 15:12] evrardjp commented on #61
Though I am afraid people will just come with different solutions... Does someone have an idea on how to make this generic? Webhooks?

[2020-03-25 15:15] evrardjp commented on #92
I think @dholbach is working on cleaning things up. If you want to help, please feel free to join other community members squatting the weaveworks slack, kured chan.

@dholbach can you close this one, please?

[2020-03-25 15:18] evrardjp commented on #98
Agreed with @bboreham . @dholbach should we close this?

[2020-03-25 15:19] evrardjp commented on #105
Thanks for the feedback @remiserriere . Do you think we should close this now?

[2020-03-25 15:23] dholbach commented on #92
This might be a bit short notice, but we'll do kured dev meeting in about 40 mins (16:00 UTC) today. Please join if you're interested in helping steer the project. https://docs.google.com/document/d/1bsHTjHhqaaZ7yJnXF6W8c89UB_yn-OoSZEmDnIP34n8/edit#

[2020-03-25 15:23] #92 closed

[2020-03-25 15:23] dholbach commented on #98
Does this come from https://github.com/helm/charts/tree/master/stable/kured?

[2020-03-25 15:25] dholbach commented on #51
We are starting kured dev meeting now (first to start in 35 mins, 16:00 UTC) today. This might be short notice, but maybe you want to come to one of the next ones and present your solution there: https://docs.google.com/document/d/1bsHTjHhqaaZ7yJnXF6W8c89UB_yn-OoSZEmDnIP34n8/edit# and we can see if we add a *Integrations* section on the main README some time

[2020-03-25 15:25] #51 closed

[2020-03-25 15:26] dholbach commented on #55
Ok. We'll close this one for now. Please reopen if necessary.

[2020-03-25 15:26] #55 closed

[2020-03-25 15:33] kfox1111 commented on #59
vm's tend to reboot quick so making the distinction between reboot and just restarting services that were updated probably doesn't help much.

On bare metal though, bios's can take 5-10 minutes to post in some cases. On a larger cluster this adds up. Being able to override the reboot to skip it if unneeded or wire in a kexec to bypass the bios could really benefit users of this type of cluster.

Y

[2020-03-25 15:34] evrardjp commented on #116
I sure hope your cluster rebooted since that previous comment! Could you push an update to the documentation, to mention to extra support? That would be lovely.

[2020-03-25 15:45] evrardjp opened #123 "Update kubectl and client-go for 1.18"
We should update the support matrix and update our client usage when 1.18 is out.

[2020-03-25 15:49] pniederlag commented on #116
Until now we have seen kured 1.3.0 to be working with ASK 1.14.8.

[2020-03-25 15:50] evrardjp commented on #116
That's good news :)

[2020-03-25 15:51] evrardjp commented on #59
Awesome, thanks!

[2020-03-25 15:52] evrardjp commented on #59
@dholbach we can probably close this for now, as we can track it in #122 .

[2020-03-25 15:56] evrardjp commented on #98
I am not sure how it is in the power of kured to change how slack behaves and invalidates token, but maybe I got that wrong...

[2020-03-25 15:58] dholbach commented on #59
Maybe we can collect use-cases and stories in #122 so we can make sure we target them all and have e.g docs and tests where applicable too?

[2020-03-25 16:25] guilhem commented on #51
Hi
Yes _kured-toujours_ works right now (it's really simple as I said).
I may have to update some part of it, but as I didn't receive any issues... :)

Sorry I didn't join the meeting, I've seen it too late.

Best Regards

[2020-03-25 16:35] dholbach commented on #51
We'll do it on a monthly cadence, we're also on #kured Slack (https://slack.weave.works/ for the invite).

[2020-03-25 17:47] alexeldeib opened #124 "use kubectl/pkg/drain instead of binary"
(didn't see an existing issue)

There's been a lot of great work to extract the drain logic to https://github.com/kubernetes/kubectl/blob/master/pkg/drain/drain.go

We could take advantage of this programmatically and remove the kubectl binary from the docker image.

[2020-03-27 07:35] evrardjp commented on #59
Yup that sounds fine for me. I thought just pointing to the appropriate PRs there would be enough, but if you want to summarize, feel free! :p

[2020-03-27 07:53] jonaspetersorensen opened #125 "Suggestion: Add who is sending the alert from where when using slack"
Example today:

When you have multiple components that send alerts to slack then messages like these turn into a guessing game for who did what where. Add more clusters into the mix and it can get quite confusing.

Suggestion:

[2020-03-27 10:33] dholbach commented on #123
https://github.com/weaveworks/kured/blob/master/DEVELOPMENT.md#updating-k8s-support has more info on how to approach this.

[2020-03-29 14:38] simskij commented on #117
Hey,

[Shoutrrr](https://github.com/containrrr/shoutrrr) maintainer here.

Let me know if I can be of any use, if you ever decide to go down the route suggested in #94. The aim of the shoutrrr project is to provide something similar to [caronc/apprise](https://github.com/caronc/apprise), but in go, allowing projects to focus on the things that add value for them, rather than duplicating efforts on

[2020-03-30 19:15] jyee021 opened #128 "Testing KureD on AKS Cluster and Frequency of Reboots on AKS?"
We have a lab cluster sitting in AKS that has had the KureD daemon set running on it since March 10, about 20 days ago, but haven't gotten any reboot messages.  Does anyone know how often nodes do need to be rebooted on AKS? And does KureD log when it does reboot a node? Is SSH into the VMSS the only way to trigger a test?

time="2020-03-10T16:31:29Z" level=info msg="Kubernetes Reboot Daemon: 1.3.

[2020-03-31 08:54] solomson commented on #98
Ok fair enough I should have posted in https://github.com/helm/charts/tree/master/stable/kured

I still think you will also have this problem if someone decides to put their deployment.yml file in git

[2020-03-31 08:54] #98 closed

[2020-04-01 15:33] ritazh commented on #128
cc @alexeldeib can you pls help take a look?

[2020-04-07 21:48] jyee021 commented on #128
Latest set of logs
time="2020-04-01T13:28:12Z" level=info msg="Kubernetes Reboot Daemon: 1.3.0"
time="2020-04-01T13:28:12Z" level=info msg="Node ID: aks-XXXXX-XXXXXX-vmss000000"
time="2020-04-01T13:28:12Z" level=info msg="Lock Annotation: kube-system/kured:weave.works/kured-node-lock"
time="2020-04-01T13:28:12Z" level=info msg="Reboot Sentinel: /var/run/reboot-required every 12h0m0s"
time="2020-04

[2020-04-08 15:38] #123 closed

[2020-04-08 15:45] dholbach opened #129 "Move to go 1.13"
https://circleci.com/gh/weaveworks/kured/146 says:

[code]

[2020-04-08 16:06] #129 closed

[2020-04-09 18:34] ashwajce commented on #63
We also encountered this issue in one of our aks 3 nodes cluster.

AKS Version: v1.14.7
kured image: docker.io/weaveworks/kured:1.3.0

We also observed another behaviour, although rebooted machine was in Ready,SchedulingDisabled state, kured continued to patch the next machine.

[2020-04-10 13:28] Subreptivus commented on #63
Hello,
Same for us.
AKS Version: v1.15.10
kured image: docker.io/weaveworks/kured:1.3.0

[2020-04-24 04:40] rhiraldo opened #136 "Add sentinel for draining the node (separate from reboot)"
I'd like to drain the node by adding a file (ex. /var/run/maintenance) so that I can safely perform the OS updates operations without having to worry about the workloads from failing if the node is running low on resources while being updated.

That way I would have Ansible do:

1. Drain the node by putting file.
2. Apply OS security updates.
3. Reboot the node by adding a sentinel file.

[2020-04-28 17:48] wasker opened #137 "How to troubleshoot "Lock already held" issue?"
Hi all,

When I inspect kured logs, they're full of messages like below, without any additional information. How to debug the reason the node isn't getting rebooted?

[code]

[2020-04-28 18:00] laghoule commented on #65
@malaiwah have you found an alternative to Kured for RancherOS?

[2020-04-28 19:33] laghoule commented on #65
Found an alternative with: https://github.com/rancher/system-upgrade-controller
I haven't tested yet, but will.

[2020-04-30 07:34] antoineozenne commented on #82
Same problem for a standard cluster without any service mesh. There are too cases : the pod ("managed" by the PDB) can't be scheluded on another node, so the situation is blocked in this state, or the pod is rescheduled by Kubernetes on another node, but it takes time so Kured timeouts.

[2020-05-01 08:38] ckotzbauer opened #140 "Move official Helm-Chart to this repo"
The official Helm-Chart of Kured is currently hosted on the "stable" repository of https://github.com/helm/charts.
When Helm 3 was released in last november, the maintainers also deprecated the "stable" and "incubator" repository.  So all charts have to move to own repos in a transition phase. See for more details: https://github.com/helm/charts#status-of-the-project

My suggestion is to move the

[2020-05-01 17:49] wasker commented on #137
After meditating on this message for some time, I noticed that it refers to a node that doesn't exist anymore. Another potential contributor to the problem was the fact that we had 1 node in cluster. Once I manually cleared up the lock and added another node, reboots are working.

Having unblocked myself, I wonder if kured could detect potentially blocking situations like:

* Lock is held on a nod

[2020-05-04 10:24] dholbach commented on #140
Do we need to get the approval of the charts authors/contributors to be able to move the code? Any guidance from the Helm team on moving charts elsewhere?

[2020-05-04 10:54] code-chris commented on #140
Technically we don't need their approval. We should add a deprecation notice to the readme and publish a last chart version with that info, that everybody is aware of the migration. Then it's up to each user when to switch their installation to the new chart-repository.
I'm not aware of any further guidenace for moving. But you can look at several charts in the stable-folder, which are already mov

[2020-05-11 08:24] lgmorand commented on #128
@jyee021 reboot only occurs when a patch is applied and this patch **requires** reboot. Not so often. Patchs are applied on daily basis on linux nodes
If you want to test it manually, SSH to one of your nodes and create an empty file /var/run/reboot-required

Reboot will occur for sure

[2020-05-11 13:50] lgmorand opened #142 "Passing flags during helm installation"
But is there a way to pass them at installation time ? I tried something like this without success.

`helm install kured stable/kured --namespace kured --set reboot-days="sa"`

[2020-05-11 14:26] code-chris commented on #142
Hi @lgmorand,
all those parameters are cli-flags of kured itself. They can be set with the "extraArgs" object of the chart.

`helm install kured stable/kured --namespace kured --set extraArgs.reboot-days="Mon\,Tue"`

**Please note:** You have to escape special chars (e.g. `,`)

[2020-05-11 14:30] lgmorand commented on #142
Thanks so much @code-chris !! I tried so many configurations for nothing.

should definitly to be added in the readme

[2020-05-11 14:30] #142 closed

[2020-05-11 14:31] dholbach commented on #142
The README in https://github.com/helm/charts/tree/master/stable/kured - right?

[2020-05-11 14:33] lgmorand commented on #142
![index](https://user-images.githubusercontent.com/6757079/81573673-15a14980-93a5-11ea-9c0f-b0d4df89c88b.jpg)

[2020-05-11 14:41] dholbach commented on #140
Added to [the agenda](https://docs.google.com/document/d/1bsHTjHhqaaZ7yJnXF6W8c89UB_yn-OoSZEmDnIP34n8/edit) of the next meeting (Wednesday May 27th, 16:00 UTC).

[2020-05-11 14:43] dholbach commented on #142
@lgmorand I didn't mean to make you feel bad - I'm just asking as we're currently looking at #140

[2020-05-11 14:54] lgmorand commented on #142
no worry ! <:o) I looked for the helm chart to "reverse engineering it" but didn't look at the right place. indeed, I looked for the helm chart within this repo, which seems logical

Anyway the docyou pointed is not clear enough for me, why don't they give a real exemple instead of foobar. But the example given by core-chris solved my issue

[2020-05-11 15:09] dholbach commented on #142
That's useful feedback - thanks @lgmorand !

[2020-05-14 14:15] johnjbateman commented on #128
@lgmorand I am also running on AKS and never see any logs about a reboot or even that it checks for them.  Been running 9 days now.  I also see that my kured pods have 70* restarts each.  Is that normal?

[2020-05-14 16:15] lgmorand commented on #128
that's not normal, could you check the flags of kured ? MIne is configured to reboot only on Mon.Tue

`helm install kured stable/kured --namespace kured --set nodeSelector."beta\.kubernetes\.io/os"=linux,extraArgs.reboot-days="Mon\,Tue"`

NAME          READY   STATUS    RESTARTS   AGE
kured-598zx   1/1     Running   1          2d1h
kured-5s8k5   1/1     Running   3          2d1h
lgmorand@DESKTOP-R

[2020-05-14 16:52] johnjbateman commented on #128
@lgmorand We install with a ds, so here is the snippet:

[code]

[2020-05-14 17:02] lgmorand commented on #128
I'm not an expert, but three times the same flag (blocking pod), are you sure, it's supported ?
you are overriding default values with the same values (i.e. period, reboot days, etc). IMHO, I prefer to stick to only add different flags, not default ones

What are saying the logs of your pods ?

Helm install also install DS ;-)

[2020-05-14 17:04] lgmorand commented on #128
maybe do a default install, test it. if it's fine, then add the flag one by one, to find the culprit, but at least test a vanilla installation

[2020-05-14 17:06] johnjbateman commented on #128
The default from the get repo had things commented out '#' so those three are commented out:

[code]

Sure I can try one at a time.  Thanks!

[2020-05-14 17:07] johnjbateman commented on #128
The log of my pod:

[code]

[2020-05-14 18:27] lgmorand commented on #128
that's weird. and you say your pod id often rebooted ?
in my case, 1 restart within 3 days for one, 3 restart for the other one

one seems in the same state than you

time="2020-05-14T06:32:33Z" level=info msg="Node ID: aks-nodepool1-17697912-vmss000000"
time="2020-05-14T06:32:33Z" level=info msg="Lock Annotation: kured/kured:weave.works/kured-node-lock"
time="2020-05-14T06:32:33Z" level=info msg=

[2020-05-14 18:51] johnjbateman commented on #128
Correct, each pod showed over 70 restarts.  I have no idea if the node rebooted, but I doubt it

[2020-05-14 19:55] jyee021 commented on #128
@johnjbateman - I worked around the SSH issue by creating a pod that mounted a volume to the host node and then I was able to manually create the sentinel value by running a shell into the pod.  I did notice if you run the daemon set with the default settings, there is an hourly (default is it checks every hour) message that gets logged about it checking for a necessary reboot, but once you set sp

[2020-05-15 15:23] johnjbateman commented on #128
strange, it looks like from my reboot window, 12-7AM, the pods restarted 6-7 times, so I am assuming they attempt the reboot check or reboot and they crash.  I have no logs in the pods cause I have new pods up now.

[code]

Current logs:

[code]

[2020-05-15 15:47] lgmorand commented on #128
6 times withing 24hrs is a lot. Maybe you could have a monitoring solution grabbing the stdout & stderr. there may be a way to capture the logs of the pods, and then read them even if they crashed.
Are you using Azure Monitor ? You should enable it, then a query could be like this

`let startTime = ago(3d);
let containerLogs = ContainerLog
| where TimeGenerated > startTime
| where _IsBillable == t

[2020-05-15 15:55] johnjbateman commented on #128
Good call!  My EFK stack was down and was recently fixing it.  Pulled up kibana and presto:

[code]

Fixing...

[2020-05-18 03:22] laghoule commented on #65
Ok, I have a "fork" that can work with RancherOS/RKE:  https://github.com/laghoule/kured

[2020-05-20 11:07] bboreham opened #143 "When using --annotationTTL, lock is not claimed by new owner"
If `Acquire()` [returns on the `ttlExpired` path](http://github.com/weaveworks/kured/blob/ec755333941a4a647ac3d782c29016e89ea540c0/pkg/daemonsetlock/daemonsetlock.go#L48), it doesn't update the annotation.

It needs to go through [this line](http://github.com/weaveworks/kured/blob/ec755333941a4a647ac3d782c29016e89ea540c0/pkg/daemonsetlock/daemonsetlock.go#L64), otherwise the lock will still show a

[2020-05-25 02:36] leonard520 opened #145 "What's the behavior when there is only one node in k8s cluster"
Hi all,

I am testing that if there is only one node in k8s cluster, will kured still work?
In my testing, looks kured drain all the pods but later the node stuck in "Ready,SchedulingDisabled". all the pods also stuck in pending status. Is it expected?

[2020-05-25 08:05] cloudoutloud commented on #145
The node being stuck in `Ready,SchedulingDisabled` is usually due to pod distribution budget set on the cluster. If there are some deployments which had this set Kured will have trouble evicting pods.
Run `kubectl get pdb -A` to view.
As you only have a one-node cluster if the node is in `Ready,SchedulingDisabled` state no pods will able to be scheduled hence all pods stuck in pending.

[2020-05-27 16:40] dholbach commented on #140
Actions from the meeting:
- [ ] @dholbach and @ckotzbauer to review options of kured chart
- [ ] @dholbach to review practices of Flux team around helm chart releases

[2020-05-28 08:59] PeterUherek commented on #47
Hey guys, what is a state of this feature?

[2020-05-31 08:55] ckotzbauer commented on #140
Quickly reconsidered the question, if integrating the charts in this repo or making a new repo under weaveworks-org. The GH-Actions create a GH-Release for each new chart version and that's not possible without creating a git-tag. This would lead to noise, as discussed in the meeting...

[2020-06-01 01:05] RalphNguyen commented on #145
Hi, I'm having the same issue.
When running kubectl get pdb -A , I found coredns-pdb in kube-system namespace has Min Available = 1. This stops the only one node in the AKS cluster from being drained.
Is there anyway I could come over this issue?
My AKS version: 1.16.7 and Kure: 1.4.0
Thanks a lot.

[2020-06-02 08:30] dholbach commented on #140
It's what e.g. Flux does: https://github.com/fluxcd/flux/tags

[2020-06-03 18:54] cloudoutloud commented on #145
If you only have a one-node cluster, your best bet is to disable/remove the PDB for core-dns then this would not cause any issues with Kured.

[2020-06-04 18:58] ericsuhong commented on #137
We also faced the same issue where kured was stuck in "Lock already held: xxx node", but this xxx node was already removed and gone from kubernetes system.

Shouldn't kured has some kind of timeout on the lock to avoid this "ghost node" lock holding forever situation?

[2020-06-05 21:06] stevegszabo opened #146 "Cannot patch resource "daemonsets" in API group "apps""
Deployed kured helm chart using docker.io/weaveworks/kured:1.4.0

AKS v1.15.7: works - the job is able to lock/unlock the daemonset
AKS v1.16.7: Error from server (Forbidden): daemonsets.apps "infosec-kured" is forbidden: User "system:serviceaccount:infosec-kured:infosec-kured" cannot patch resource "daemonsets" in API group "apps" in the namespace "infosec-kured"

The role bound to the service ac

[2020-06-08 13:28] pvdulmen commented on #63
Same here.
No PDB, kured 1.3.0, 2 nodes AKS cluster, kubernetes version 1.16.8
One cluster isn't uncordoned after reboot

[2020-06-09 21:43] wasker commented on #137
Looks like `--annotation-ttl` is [the feature](https://github.com/weaveworks/kured#automatic-unlock).

[2020-06-11 19:36] ammarqq opened #147 "Kured induced restart won't launch latest version of the Linux node in default/system node pool"
We have an AKS cluster with Linux nodes and Kured installed to automatically restart nodes when a new security update is available. when applying security patches to the system (AKS default) node pool, the newly launched instance has an older kernel version and is scheduled to be restarted again. This usually lasts from a few hours to a few days and the instance gets restarted multiple times a day

[2020-06-12 10:01] ericsuhong commented on #137
Thanks for the pointer. Seems like this is a new feature that has been recently added and not included in the latest release yet. We will wait for a newer release that include this feature after it is tested thoroughly.

[2020-06-13 08:57] ondrejhlavacek commented on #147
Hi everyone, I am the original reporter via MS Azure support. I'll try describing what happens as we're getting dozens of reboots every day and it's pretty annoying. This is a screenshot of our Slack channels that monitors Kured restarts.

![image](https://user-images.githubusercontent.com/497675/84564714-03c81300-ad64-11ea-9dd9-d286fba1bea2.png)

Both mentioned node pools have 1 or 2 nodes.

The

[2020-06-14 20:25] NMark02 opened #148 "kured is installed; however, testing "reboot" does not work"
Hi
I have installed kured using helm, helm install -f kured-values.yaml kured stable/kured --namespace kured --set extraArgs.start-time=2am --set extraArgs.end-time=5am --set extraArgs.time-zone=Europe/Berlin --set extraArgs.reboot-days="sun\,sat"

AKS and node version: 1.16.9

**k get all -n kured**
NAME              READY   STATUS    RESTARTS   AGE
pod/kured-4tct2   1/1     Running   0

[2020-06-17 07:17] nerijusk commented on #147
I'm seeing same issue. Also running Azure AKS with auto-scaling and multiple node pools.

[2020-06-17 09:34] dholbach commented on #140
@ckotzbauer and I brief call and discussed this issue. Here are our notes: https://docs.google.com/document/d/1xDvASO9gyp_O6o0xw71CK0_0GpueijpcToozx4T-Yrs/edit#

Thanks a lot for the thorough review @ckotzbauer and your offer of help - much appreciated!

[2020-06-17 09:59] dholbach commented on #140
Next steps as discussed in the call are:

- [ ] create initial PR which includes the [original chart](https://github.com/helm/charts/tree/master/stable/kured) in verbatim
- [ ] add all placeholders
- [ ] remove `autolock` feature, document how to upgrade
- [ ] file relevant issues for other TODO items
- [ ] @dholbach: create helm-chart issue label
- [ ] @dholbach: reach out to helm chart contribut

[2020-06-17 09:59] dholbach commented on #140
@ckotzbauer ^ LMK if I captured this right.

[2020-06-17 10:47] ckotzbauer commented on #140
@dholbach Yes, you did!

[2020-06-17 13:41] jvassbo commented on #63
We also had this problem:
AKS kubernetes v1.15.10
kured image: docker.io/weaveworks/kured:1.3.0

[2020-06-22 08:27] stuartpb commented on #59
I'll note that Kubic has `kexec` as an alternative reboot implementation to `kured`: https://kubic.opensuse.org/documentation/man-pages/transactional-update.conf.5.html

[2020-06-22 08:28] stuartpb commented on #122
If you're gathering use cases, I'll note that Kubic has a wide variety of alternatives to `kured`, like `kexec`: https://kubic.opensuse.org/documentation/man-pages/transactional-update.conf.5.html

[2020-06-24 04:01] VarsChdhry opened #151 "Kured logs which indicate that node is rebooted"
I am new to kured and was just curious that which kured log exactly say that particular node is successfully rebooted.

Following are logs from kured:

`time="2020-06-21T03:00:09Z" level=info msg="Kubernetes Reboot Daemon: 1.3.0"
time="2020-06-21T03:00:09Z" level=info msg="Node ID: aks-node-188893-vmss1"
time="2020-06-21T03:00:09Z" level=info msg="Lock Annotation: kured/kured:weave.works/kured-nod

[2020-06-26 17:17] ckotzbauer commented on #146
Hi,
we are currently migrating the chart to this repo. (see #140) It will be available in the next few days.
This bug was addressed during the migration, as several other changes.

[2020-06-26 17:22] ckotzbauer commented on #120
Hi,
which version of the helm-chart you are using? Is the problem still there?

[2020-06-28 07:51] MatthewZ627 opened #153 "Kured Pod is restarted frequently"
Issue: Kured Pod is restarted frequently

Here is result of running kubectl describe for Kured pod:

Name: kured-xhb62
Namespace: kured
Priority: 0
PriorityClassName: <none>
Node: aks-agentpool2-25811506-vmss000000/10.106.112.166
Start Time: Wed, 24 Jun 2020 17:34:49 +0800
Labels: app=kured
controller-revision-hash=5495dd5696
pod-template-generation=1
release=kured
Annotations: <none>
Status: Runn

[2020-06-28 17:14] NMark02 commented on #148
Could someone please provide me with information? Thanks

[2020-06-29 10:34] dholbach opened #154 "Create 1.4.1 release"
## Release
- [x] Smoke-test on current k8s 1.16, 1.17, 1.18
- [x] Test in Weave dev environment
- [x] Test helm things?
- [x] Write release notes
- [x] Release
- [ ] Announce

## Post release
Deal with rest of #140

[2020-06-29 13:20] dholbach commented on #154
@ckotzbauer Anything from a Helm POV you want to test before releasing `1.4.1`?

[2020-06-29 13:27] dholbach commented on #154
Release notes could be something like:

-----

This release adds to the previous 1.4.0 release

### Features

- Adding --annotation-ttl for automatic unlock #119

### kured Helm chart

- make sure Circle CI ignores the 'gh-pages' branch #149
- Initial Kured Helm-Chart #150

We intend to take over the [kured chart from helm/charts/stable](https://github.com/helm/charts/tree/master/stable/kured). Pl

[2020-06-29 14:44] ckotzbauer commented on #154
@dholbach No, there's nothing to test before the release. It can be tested finally, if the release is done.
I noticed that for every release we have to update those places in the chart with the release we want to publish:
- Chart.yaml (appVersion)
- values.yaml (image.tag)
- Readme (image.tag default-value)

Maybe there's a better way in the future to automate this...

[2020-06-29 15:16] dholbach commented on #154
Ok, so we need to update those values first, and maybe the main README too?

[2020-06-29 15:19] ckotzbauer commented on #154
Yes, otherwise we always release a chart with the previous version of kured. :joy:
Should I do a quick PR for those changes?
What would you change in the main README?

[2020-06-29 15:55] Elven-coder opened #156 "Cannot update and restart system if there are more than one AKS work nodes"
There are 3 new AKS work nodes in my test case. The new work nodes were created at nearly same time. The issue I encountered is that Kured service only updated and restarted one of them. The two others cannot be updated and restarted automatically.
period=5m
![image](https://user-images.githubusercontent.com/13388658/86028008-f600d600-ba63-11ea-936c-e614702d5f04.png)

[2020-06-30 08:01] dholbach commented on #154
#157

[2020-06-30 08:31] #154 closed

[2020-06-30 08:56] d-kukharenko commented on #120
Hi,
We were using the 2.14.3 Helm.
I can't update you on the presence of the problem because we removed that parameter since it was failing the pod.

[2020-06-30 08:59] ckotzbauer commented on #120
Ok. Could you do a `helm list` and share the kured-line that I can see which version is installed?
Which value is stored in `var.KURED_HELM_CHART_VERSION` from terraform?

[2020-06-30 09:02] d-kukharenko commented on #120
1.2.0

[2020-06-30 09:05] ckotzbauer commented on #120
No, problem ;)
That's too old. The feature was introduced in kured `1.3.0` which was released with the chart-version `1.5.0`.
https://github.com/helm/charts/commit/9eebe0ec905e473ec210299b8b6ef912a9816e7a#diff-5a6820d741e49d11f5a77dad4abfb560

[2020-06-30 09:07] d-kukharenko commented on #120
Ok, gotcha.
We will test with a new chart version, thanks.

[2020-06-30 11:01] cloudoutloud commented on #153
Is this just happening on one node or all nodes in the cluster?
What is the status of node `aks-agentpool2-25811506-vmss000000`?

[2020-06-30 11:35] dholbach commented on #140
We're almost there.

- [ ] Fix wrong indent in the new ServiceMonitor resource
- [ ] All cli-parameters are quoted now from the chart and it seems that kured cannot handle this in all cases. (time-zone, start-time, end-time, ...) have to be set without quotes
- [ ] Fill out README.md in gh-pages branch to be like e.g. https://github.com/fluxcd/charts/blob/gh-pages/index.md
- [ ] do another release

[2020-06-30 14:00] dholbach commented on #140
https://github.com/weaveworks/kured/pull/160

[2020-06-30 14:37] davidkarlsen opened #161 "invalid period"
If I install with the chart and have configuration.period=15m I get
[code]
in the pods

[2020-06-30 14:39] dholbach commented on #161
I believe this is

from https://github.com/weaveworks/kured/issues/140#issuecomment-651737015

Right @ckotzbauer ?

[2020-06-30 15:36] ckotzbauer commented on #161
Yes, this looks like this issue. :+1:

[2020-06-30 16:25] #161 closed

[2020-07-01 09:31] dholbach commented on #120
Can you test https://github.com/weaveworks/kured/tree/master/charts/kured?

[2020-07-01 09:34] d-kukharenko commented on #120
I've put it in our backlog for the next sprint, probably will do in a week or two, I'll share the updates as soon as we get results.

[2020-07-01 09:38] dholbach commented on #120
Excellent - thanks @d-kukharenko !

[2020-07-01 14:02] MatthewZ627 commented on #153
Status of node for aks-agentpool2-25811506-vmss_0 is health.

And only one node got this issue in Azure Kubernetes cluster, because just one node was created by AKS.

Thanks

[2020-07-03 05:57] ckotzbauer commented on #146
@stevegszabo
The new helm-chart is now available at https://github.com/weaveworks/kured/tree/master/charts/kured

[2020-07-03 08:40] #140 closed

[2020-07-03 20:57] smueller18 commented on #122
I have another use case for my cluster. Whenever kured reboots a node, the default alerts for ceph storage pods are firing for some minutes until the pods are ready again after the reboot.
The [`amtool`](https://github.com/prometheus/alertmanager/tree/master/cmd/amtool) binary can be used to silence alertmanager alerts. An example command to silence an alert is

[code]
It would be nice, if kured o

[2020-07-08 13:59] yongzhang commented on #153
The same issue, @MatthewZ627 can I ask what’s your kubernetes version and network CIDR (pod, service and VPC)? Thanks.

[2020-07-13 17:31] bboreham commented on #121
What sort of time are you talking about?
Do you have `terminationGracePeriodSeconds` set high enough in your pod spec?

[2020-07-14 05:42] sebikul commented on #121
In our situation, we need a few seconds from when a node is completely drained, to when it is shut down. Explaining the setup as easily as possible, we have an nginx Ingress installed as a DaemonSet with hostPort to receive traffic from an L4 load balancer.

Once the node is drained, we detect this situation and start sending failed health probes to our cloud provider, thus removing the current in

[2020-07-14 08:32] bboreham commented on #121
Have you tried adding a `preStop` hook to wait the 15 seconds?

[2020-07-17 09:32] audunsolemdal opened #167 "[Helm chart]: Support secret params"
My team uses flux with a public repo, and we deploy Kured as a helmrelease. https://github.com/equinor/sdp-flux/blob/prod/base/infrastructure/kured.yaml#L24

Currently there doesn't seem to be a way to set slackHookUrl from a Kubernetes secret. Slack automatically invalidates slack webhooks on public Github repos, making us unable to get slack alerts with our workflow.

[2020-07-17 11:46] ckotzbauer commented on #167
Hm, that's a valid use-case I think.

The problem is, that all these settings are cli-arguments and helm is not able to inject a secret-value by itself on chart-rendering. So the only thing which might be possible is to set the slack-hook-url as environment variable of the kured daemonset, then the chart can be modified to reference an existing secret. But that's something which kured does not sup

[2020-07-17 13:23] davidkarlsen commented on #167
But it is possible to refer to a ${VARIABLE} in the args, and set the the value of the variable as a reference to a key in a secret.
@audunsolemdal note that using SOPS you can encrypt variables: https://github.com/fluxcd/flux/pull/2580
That can be a generic approach to handling secrets - and then these can be under version-control too.

[2020-07-21 15:26] audunsolemdal commented on #167
Maybe I'm missing something, but I don't see how I can set an environment variable to the daemonset without modifying the helm chart.

@davidkarlsen
My understanding is that you are suggesting using extraArgs to set an env variable to a secret?

But this doesn't use  the "env" field which is left unaltered by helm Chart config, making me unable to use e.g. valueFrom.secretKeyRef
https://github.com

[2020-07-21 21:46] davidkarlsen commented on #167
@audunsolemdal the first part of my comment was targeted at the chart maintainer, to inject the use of a var at https://github.com/weaveworks/kured/blob/master/charts/kured/templates/daemonset.yaml#L45 and secondly add the var in the env: section, referring to an secret and key within it.

[2020-07-22 16:14] dholbach commented on #124
Could https://github.com/weaveworks/wksctl/pull/271 serve as example code here?

[2020-07-24 10:22] luxas commented on #124
yes :+1:

[2020-07-28 13:26] adhodgson1 commented on #125
You can use the --slack-username parameter to override the notification user, I have been doing this for ages with the cluster name as this parameter and it works well.

[2020-07-28 13:42] adhodgson1 opened #170 "Notification webhook suggestions (use with Microsoft Teams)"
Have been using Slack notifications for several months, organisation now migrating to Teams.

Using the --slack-hook-url parameter with a Teams channel webhook URL works fine, however, using the --slack-username parameter doesn't get picked up by Teams.

Would it be a good idea to look at making the notification webhook parameters more generic, for example --notification-hook-url?

I haven't worke

[2020-08-03 13:50] #167 closed

[2020-08-04 17:57] paprickar commented on #148
Hey @NMark02

I am not using a reboot time range (Sun to Sat between 02:00 and 05:00) but you might just tested it at the wrong time?

I can see in the logs ```time="2020-06-14T19:44:36Z``` so there will be no reboot until 02:00 if I understood this correct.

[2020-08-04 20:21] NMark02 commented on #148
@paprickar thanks for taking the time and reply to my query. I will give it another try. Thanks so much!

[2020-08-13 09:04] evrardjp commented on #122
These seem to be the target of a transactional update action, which means that transactional update action can call kured, and if kured is configured to call kexec, that would work... Sounds a tad complex though :)

[2020-08-14 06:26] evrardjp commented on #60
I have a PoC code that uses the NodeRestriction Admission controller [1], but sadly I had to map the host's kubelet conf and certs into the container, which means that it probably has more access than before... (secrets?). So that's probably not a good idea.

Does anyone have a better idea, that doesn't involve writing a new service/operator?

1: https://github.com/evrardjp/kured/commit/18eb857958

[2020-08-14 16:15] kfox1111 commented on #60
That still sounds like it has better security then the existing solution. In the existing solution, you already have access to all the node's secrets as you can just tweak the deployment to give your pod access to the whole nodes filesystem. You can also tweak the deployment to give you access to other secrets in the same namespace it may not already have access to.

Long term, I'd like to see an

[2020-08-17 08:02] tommychoy opened #173 "AKS node not rebooted for more than 2 months by kured even if it has the reboot-required file"
We have deployed an AKS cluster with kured (Helm chart version: 1.3.1-develop)  with following parameters.
[code]

Just picked an AKS node and checked that it has uptime more than 2 months and reboot-required file exists. Not sure what else can be checked for further investigation.

[code]

[2020-08-17 08:22] evrardjp commented on #60
Totally agreed on the last bit.

[2020-08-17 10:01] WimDiepgrond opened #174 "alertFilterRegexp not handled properly"
If I use prometheus to check for existing alerts and also filter on alerts that should be ignored using the "alertFilterRegexp" kured still keep from rebooting because of alerts that exist. These alerts are however in the ignore filter that I use.

If I for example use ```alertFilterRegexp: ^(RebootRequired|Watchdog)``` and I have an Alert for "Watchdog" the node can't be rebooted and in the logs

[2020-08-17 12:47] billimek opened #175 ""Failed to build time window: unknown time zone America/New_York" error when using timeZone flag"
Using the `kured` helm chart version 2.1.1 with the 1.4.5 kured release, with the `configuration.timeZone: "America/New_York"` setting ([see HelmRelease yaml](https://github.com/billimek/k8s-gitops/blob/master/kube-system/kured/kured.yaml#L24)), `kured` pods fail to start up crashing with the following error:

`"Failed to build time window: unknown time zone America/New_York"`

I also tried settin

[2020-08-18 23:14] limberger commented on #65
I was able to run on RancherOs with some minor changes.

[https://github.com/limberger/kured](https://github.com/limberger/kured)

[2020-08-20 20:11] SerialVelocity commented on #174
I've just hit this as well.

I worked around it with:
[code]

A massive hack but since I use `helm-operator` to deploy these, I lose any changes I make to the daemonset every hour.

[2020-08-21 04:56] ckotzbauer commented on #174
Duplicate of #166

[2020-08-21 07:31] #174 closed

[2020-08-24 12:32] pjbgf commented on #173
@tommychoy do you mind sharing the logs of the actual kured ds for that specific node? That should make it easier to identify what the problem is.

[2020-08-24 13:28] Boriszn opened #179 "Kured shedule reboot issue"
Hey Kured team

We've installed Kured to our AKS cluster (version 1.17.1), using Helm chart.
Kured [Helm Release 2.1.1](https://hub.helm.sh/charts/kured/kured/2.1.1) (Kured app version 1.4.5)

*Problem*
In configuration, I set start time `startTime: "0:00"` and `endTime: "04:00"`
Sometime update and reboot are trigered after 4 pm which is wrong. Image below

![image](https://user-images.githubuser

[2020-08-26 12:26] WimDiepgrond commented on #174
Thanks, this works for me as a workaround!

[2020-08-26 21:17] dawn-chu opened #182 "migrate kured from helm2 to helm3"
Hi, we have kured installed in our AKS cluster with helm2 from stable/kured(https://github.com/helm/charts/tree/master/stable/kured).
We are trying to migrate this chart to use helm3. Seems now the repo has been changed to https://weaveworks.github.io/kured. Can I use the [helm2to3](https://github.com/helm/helm-2to3) plugin to migrate this chart or I need to remove this chart which is installed by

[2020-08-27 08:47] ckotzbauer commented on #182
Generally, you should be able to migrate the chart with this utility to helm3. But this does only migrate the release-information to the new storage format helm3 uses. (I didn't test it for kured)
In the second step you can upgrade the chart to use the new repository. This should work without a clean reinstall. However this shouldn't be a problem, since kured does not store and persistent data.

[2020-08-27 20:30] dawn-chu commented on #182
Sounds like there are two steps:
1.use helm2to3 plugin to migrate this chart to helm3
2.do "helm upgrade" on this chart to update this chart to use new repository

[2020-08-28 04:59] ckotzbauer commented on #182
exactly!

[2020-08-28 07:19] dholbach commented on #182
Shall we document this somewhere in our docs?

[2020-08-28 07:43] ckotzbauer commented on #182
We can document, that the migration to the new chart is only a simple "helm upgrade" command with the new repo and parameters....
I wouldn't document the helm2to3 thing, since this is not related to kured and is generally useable for any helm-chart.

[2020-08-31 05:41] tommychoy commented on #173
@pjbgf below are the logs from pod that is running in that node. So this specific node is not rebooted for long time, is it because another node aks-linux-14348135-241 was locked for rebooted and only one node can reboot at one time? However, seems node aks-linux-14348135-241 was already removed from the cluster.

[code]

[code]

[2020-08-31 11:47] ssbkang commented on #173
I am facing the similar issue on AKS nodes

[2020-09-01 14:09] onedr0p commented on #175
I am having this issue too...

[2020-09-03 06:42] SirBrecilos commented on #125
settings slack-username does not seem to work for me
Tried setting it via configuration & extraArgs object

Any suggestions?
[code]

[2020-09-04 19:11] limberger opened #193 "More then one reboot a time"
What do you think  about implement more then one reboot a time (a number informed by parameter)?
In one big clusters maybe could be a cool and useful implementation. I can try to create a Pull Reques whith this implementetion  if do you agree!!!

[2020-09-07 02:06] tommychoy commented on #173
Can anyone help with looking at this issue?

[2020-09-07 05:21] thuandt commented on #173
@tommychoy have you try with newer version of kured?

[2020-09-07 19:17] pjbgf commented on #173
@ssbkang @tommychoy By the looks of it, the node that held the lock never came back up, therefore keeping the lock and blocking other nodes to go through the update process.

The README on this repo says that:

https://github.com/weaveworks/kured#automatic-unlock

[2020-09-09 16:45] Sahil14105 opened #195 "Which Kured image has fix for vulnerabilities CVE-2019-1551 & CVE-2020-1967?"
Hi All,

Can you please share your inputs on above query? I am running Kured 1.3.0 version and its having 2 vulnerabilities reported for libssl1.1 & libcrypto1.1. Both of these libraries source package is openssl. I need to upgrade openssl to 1.1.1g version. Please confirm which kured image will fix this openssl vulnerability.

Current AKS version running is 1.16.13 and kured containers are runnin

[2020-09-11 10:27] tommychoy commented on #173
@pjbgf, thanks for your investigation. I am testing the --annotation-ttl and seems to be good

[2020-09-12 08:55] davidkarlsen commented on #120
@d-kukharenko did it work out - can we close this?

[2020-09-12 09:09] davidkarlsen commented on #182
You can use the guide https://helm.sh/blog/migrate-from-helm-v2-to-helm-v3/ to migrate. It has some trickiness depending on how charts have been designed (I had some conflicting labels).
On the other side the kured chart is stateless (no ingresses to be reached, no volumes, no services exposed which will break anything) - so the easiest could be a simple reinstall.

[2020-09-12 09:09] #182 closed

[2020-09-12 09:11] davidkarlsen commented on #146
This seems to have been fixed now: https://github.com/weaveworks/kured/blob/master/charts/kured/templates/role.yaml#L18 - so closing - feel free to reopen if needed.

[2020-09-12 09:11] #146 closed

[2020-09-12 09:12] davidkarlsen commented on #175
Related: https://github.com/weaveworks/kured/issues/120

[2020-09-14 08:38] evrardjp commented on #193
Oh that's an interesting concept!

How would you recognize which node deserve reboot or not?
Would you use the same concept as today to "disable" reboots for some nodes, and then update? I have the impression this kind of logic better suits a controller of kured daemonsets :)

[2020-09-14 09:38] evrardjp commented on #179
is your timezone well configured?

[2020-09-14 09:39] #173 closed

[2020-09-14 10:10] evrardjp commented on #156
Kured is doing a rolling restart. When your node is back up, the kured label should be removed, and the rest of the cluster can continue to restart if necessary.

Can you check the node's labels and annotations?

[2020-09-14 10:13] evrardjp commented on #153
Are there policies preventing traffic?

[2020-09-14 10:16] evrardjp commented on #151
No reboot was done in that log.

If a reboot was triggered, you would have more details in your logs, like `Commanding reboot for node:`

[2020-09-14 10:17] evrardjp commented on #151
Do you think we need more documentation?

[2020-09-14 10:17] evrardjp commented on #148
Can we close this?

[2020-09-14 10:20] NMark02 commented on #148
yes please @evrardjp

[2020-09-14 10:55] #148 closed

[2020-09-14 11:00] evrardjp commented on #147
From the `kured` perspective, kured does the right thing: if the node needs reboot (which is the case, even for the fresh one), then it triggers the reboot. Of course this is wrong, but I think this needs a collaboration work between Azure AKS and kured.

@dholbach do you know who can we ping for this?

[2020-09-14 11:02] evrardjp commented on #145
Should we close it?

Does it work better with @cloudoutloud 's fix?

[2020-09-14 11:02] evrardjp commented on #137
Can we close this?

[2020-09-14 11:04] evrardjp commented on #136
Just curious: what would be the benefit of a sentinel for draining the node, compared to just drain the node directly in your ansible case?

Also: Can't you just apply security updates without the drain on the node, and if a reboot is necessary, wait for kured to reboot it?

[2020-09-14 16:32] wasker commented on #137
Yes, this can be closed.

[2020-09-14 16:55] cloudoutloud commented on #195
The latest image is 1.5.0
Why not just upgrade unless you specifically need to use  1.3.0 ?

[2020-09-14 16:59] Sahil14105 commented on #195
Hi,

Thanks for your response!

1.5 is not compatible with 1.16.13 AKS version.

[2020-09-15 07:14] #137 closed

[2020-09-15 13:53] limberger commented on #193
Hi! Using the same logic of semaphores ... just thinking to create a parameter (--CONCURRENT-REBOOTS) and a set of 'lock-annotation' with this count of 'locks' ...
The lock anotation maybe could be: weave.works/kured-node-lock-###-@@@@@@@@
where ### => lock sequential and @@@@@@@@ => NodeName.
I think with this is possible to control more then one reboot a time!

[2020-09-15 13:55] RoyKimYYZ opened #200 "Helm install with set parameters is not applied"
I have an Azure Kubernetes Service cluster.

helm install kured kured/kured --namespace kured --set nodeSelector."beta\.kubernetes\.io/os"=linux  `
    --set configuration.start-time=0:00 `
    --set configuration.end-time=3:59:59 `
    --set configuration.timeZone=America/New_York `
    --set service.create=true `
    --set service.port=8081 `
    --set configuration.rebootDays[0]="sun" `
    --s

[2020-09-15 14:01] RoyKimYYZ opened #201 "Kured pods is not deployed to all nodes in 2 node pools AKS"
I have an Azure Kubernetes cluster. 1 system node pool of 2-3 nodes and 1 user node pool of 2 nodes.

When installing Kured  with helm
helm install kured kured/kured --namespace kured --set nodeSelector."beta\.kubernetes\.io/os"=linux

The kured daemonset only has pods to the system node pool. The user node pool does indeed have the label beta.kubernetes.io/os: linux yet still does not have pods i

[2020-09-16 18:23] mirageglobe commented on #47
did anyone have MS teams webhook work for --slack-hook-url? tried using extraargs with MS teams webhook and it did not like it. no errors and did not trigger notification even thou reboot-required file was present.

[2020-09-16 20:27] cloudoutloud commented on #201
If you deploy out with no node selector flag. Kured deamonset should deploy one pod to all nodes I believe.

Do you have taints on the user node pool nodes, preventing scheduling of new pods?

[2020-09-16 20:37] RoyKimYYZ commented on #201
Yes I recall I have a taint. I will check that out.

Roy Kim
Azure & Office 365 Consultant

www.roykim.ca<http://www.roykim.ca/> |@RoyKimYYZ | Github<https://github.com/roykimyyz>
[cid:image003.png@01D68C47.B5574390]

From: Sean Rigby<mailto:notifications@github.com>
Sent: Wednesday, September 16, 2020 4:27 PM
To: weaveworks/kured<mailto:kured@noreply.github.com>
Cc: Roy Kim<mailto:roy@roykim.ca>;

[2020-09-17 14:59] slynickel opened #204 "StartTime EndTime Flags don't wrap around - can block reboots"
### Problem
If the startTime command flag is set to be after endTime kured can never reboot. timewindow.Contains() always returns false.

#### Potential Unit Test Showing the Problem
You can add the following test case to `pkg/timewindow/timewindow_test.go`
[code]
And it will fail.

[code]
If kured is setup this way nothing happens other timewindow.Contains() returns false for all times.

### Impa

[2020-09-17 16:19] RoyKimYYZ commented on #201
I resolved my issue by adding the paramaters into my helm command
--set tolerations[0].effect=NoSchedule `
    --set tolerations[0].key=node-role.kubernetes.io/agent `
    --set tolerations[1].operator=Exists `
    --set tolerations[1].key=CriticalAddonsOnly `
    --set tolerations[2].operator=Exists `
    --set tolerations[2].effect=NoExecute `
    --set tolerations[3].operator=Exists `
    --set

[2020-09-17 16:19] #201 closed

[2020-09-23 19:20] rhiraldo commented on #136
I thought the same thing at some point and started updating systems without
draining and then telling Kured to reboot but I noticed that nodes would
too often go into a limbo state where they became unusable and kured itself
would not work at all. Given that this would not happen if the node is
drained, I thought that it may be resource starvation related during the
updates that would cause instab

[2020-09-25 14:16] evrardjp commented on #124
@atighineanu are you interested by working on this?

[2020-09-25 20:28] theharleyquin commented on #204
Please confirm if an actual issue. Have similar setup where i want the reboot window to be from 2300 - 0600:
            - --end-time=06:00
            - --start-time=23:00
            - --time-zone=America/New_York

[2020-09-26 15:44] #195 closed

[2020-09-26 15:44] Sahil14105 commented on #195
Query opened in incorrect channel, it should be on slack channel

[2020-09-28 07:51] evrardjp commented on #136
IMO, this is what we need to fix. The idea of kured is that it avoids us thinking about individual nodes and their reboot. It just is an automatic tool.

I would prefer if we target that limbo state issue, and kured that wouldn't work in that case. That makes kured more robust, and removes a bunch of automation from your side, and extra code on kured's codebase.

What do you think?

[2020-09-28 07:56] evrardjp commented on #204
Very good issue!

I don't have time to tackle this right now, but I think it's a simple fix.

[2020-09-28 08:16] chentex commented on #204
I would like to tackle this, if it is OK.

[2020-09-28 08:22] evrardjp commented on #204
Please go ahead @chentex ! :)

[2020-09-29 07:30] evrardjp commented on #200
@ckotzbauer Did you already see this kind of things in the past?

[2020-09-29 07:33] evrardjp commented on #193
Yes! We've already discussed of implementing another kind of locking location, so that might be an adjacent work.
By any chance, do you have the time to tackle this kind of work? @dholbach what do you think of the feature?

[2020-09-29 07:44] ckotzbauer commented on #200
I will investigate this issue in the evening, if I have time.

[2020-09-29 15:24] ckotzbauer commented on #200
So, only to understand things right @RoyKimYYZ:
- You install the helm-chart (the pods are starting)
- You connect with `kubectl exec` into the pod
- Execute `kured` binary?

This indeed would start kured with its default settings, as there are no cli-parameters given.
Can you post the logs of the pod (`kubectl logs <kured-pod>`) without doing a exec before?

[2020-09-30 06:49] s-spindler commented on #82
Faced a similar issue but for me the pod could have easily been rescheduled by k8s on another node. The PDB is quite simple and only states that min 1 pod is running.
@awh I think that it is the correct default. AFAIU when deleting a pod that has a PDB such as mine, k8s will simply make sure that a second pod is running before killing the old one. Maybe I'm not getting PDBs here but my understandi

[2020-09-30 06:53] s-spindler commented on #82
One more thing: if this isn't changed I would expect kured to at least not set the node to `SchedulingDisabled`. ATM the node is basically drained of pods except for the ones with PDBs.

[2020-09-30 07:20] evrardjp commented on #82
Wouldn't drain should be cordoning the node, which effectively makes it 'SchedulingDisabled'?

[2020-09-30 07:23] evrardjp commented on #200
@ckotzbauer oh yes, good catch! :) I didn't realise kured was just run with the no parameters during the executing inside the pod, and thought those logs were the kubectl logs ... My bad!

[2020-09-30 07:28] ckotzbauer commented on #200
No problem @evrardjp 😆 :+1:

[2020-09-30 13:24] RoyKimYYZ commented on #200
@ckotzbauer Ok I understand now. Then how does one validate the setup is what is intended via helm chart install with the params?

[2020-09-30 13:24] #200 closed

[2020-09-30 16:36] ckotzbauer commented on #200
You can view the logs with `kubectl logs` to ensure kured is configured correctly.

[2020-10-08 08:48] sam-cogan opened #208 "Upgrade Kured Image BusyBox to 1.32"
The current version of BusyBox on the Kured image is 1.31 and this has a high severity CVE now (CVE-2018-1000500). Upgrading to 1.32 should be done to resolve this issue.

[2020-10-08 10:02] davidkarlsen commented on #208
Isn't it using alpine? https://github.com/weaveworks/kured/blob/master/cmd/kured/Dockerfile

[2020-10-08 10:34] sam96688adm commented on #208
Yeah, I guess this needs a new version of Alpine to be released

[2020-10-08 10:34] sam-cogan commented on #208
Yeah I guess this needs a new version of Alpine to be released

[2020-10-08 10:34] #208 closed

[2020-10-14 08:19] uncycler commented on #82
An other issue related to PDB, when this happended, CPU usage is up to 100% and it fills logs with hundred of error per seconds.

[2020-10-20 09:27] DaniJG commented on #125
When using the new recommended webhook approach in slack (creating an app and adding incoming webhooks as per https://api.slack.com/messaging/webhooks), each webhook URL is statically associated with a username and a channel.
Directly from their docs

[2020-10-21 22:55] nkinkade commented on #143
Hello! Just checking on the status of this issue. I noticed this In the Kured 1.5.0 release notes:

We're currently using 1.4.4 and have found `--annotation-ttl` is not usable for us because of behavior that I imagine is a result of this bug.

Thanks!

[2020-10-28 16:33] bboreham commented on #153
This error says the kured program is unable to talk to your Kubernetes api-server.  "i/o timeout" means nothing came back at all.
It suggests some misconfiguration in your Kubernetes, since nothing would run at all if the api-server was truly uncontactable.

[2020-10-28 16:36] bboreham opened #214 "Error handling via log.Fatal() hurts operability"
If run as expected in a pod, calling `log.Fatal()` means Kubernetes will restart the pod immediately and the operator will have to hunt down the error message in the previous logfile.

For instance: https://github.com/weaveworks/kured/blob/72c4112e2064bec2096ab450c3fb13876d7f3b68/cmd/kured/main.go#L207
https://github.com/weaveworks/kured/blob/72c4112e2064bec2096ab450c3fb13876d7f3b68/cmd/kured/main

[2020-10-29 08:39] evrardjp commented on #214
Agreed.

[2020-10-29 10:58] bboreham commented on #151
When I tested a reboot for #210 I did not get the "Commanding reboot" line fed through to my log store.
I haven't investigated, but it does seem a bit chancy whether something will make it to disk in the context of a reboot.
Maybe kured should wait a short time between logging and rebooting to improve its chances?

[2020-10-29 11:00] bboreham commented on #153
As it happens, I got one of these messages today, immediately after a reboot:
[code]

I speculate that kube-proxy hasn't had time to set up the service address yet.
For me it was a one-off.

Related: #214

[2020-10-29 11:25] evrardjp commented on #214
However, where should we bubble up the error, if we don't panic/Fatal? Should kured continue even if it can get hold of locks? That sounds a recipe for disaster too. I guess we can just Errorf, and maybe abruptly quit rebootAsRequired ?

[2020-10-29 11:32] bboreham commented on #214
Yes, it needs thought regarding retries, rate-limiting, etc.  This is something that we get from CrashLookBackoff in the current implementation.

Could have a metric for errors and a suggestion to alert if too many?

[2020-10-29 11:54] evrardjp commented on #214
TBH What I like the most about kured is its simplicity. I would resist adding more complexity to it. This will indeed be non-trivial if we don't rely on kubernetes anymore.

[2020-10-29 13:08] evrardjp commented on #151
That's weird, because the reboot command should try to sync all writes before effectively rebooting. I checked on my environment, and I indeed see the proper lines.
[code]

It's maybe a good idea to introduce a timer, but I don't think it's necessary.

[2020-10-29 13:14] bboreham commented on #151
It might make it to disk, but when the container gets deleted on shutdown and the pod restarted after reboot I'm not enormously surprised one line can get lost.  Maybe I should have a better scheme to collect the logs (currently fluentd reading the files).

[2020-10-29 13:15] evrardjp commented on #151
Hehe,  me neither :)

[2020-10-30 10:20] lucab opened #216 "[design] Integration with Fedora CoreOS auto-updates (Zincati strategy)"
This ticket may or may not be a subset of https://github.com/weaveworks/kured/issues/122.

I'd like to explore the design space to see how `kured` and [Fedora CoreOS (FCOS) auto-updates](https://docs.fedoraproject.org/en-US/fedora-coreos/auto-updates/) could be plugged together. In particular, I'd like to see `kured` as the in-cluster reboot coordinator directing the local update-agent (Zincati) o

[2020-11-02 14:27] suresh8771 commented on #105
I too looking for
1. changing  the frequency of check for /var/run/reboot-required
2. Validating Kured deployment on AKS cluster by rebooting one of the node by creating /var/run/reboot-required file ( not sure how to achieve this)

[2020-11-04 11:01] #124 closed

[2020-11-05 10:10] evrardjp opened #223 "Introduce an expiry on the issue list"
I think we should have a bot that automatically expires old issues.

Most of them are not gonna be tackled if there is no focus, so I think it's fair to close them, and focus only the fresh requests.

[2020-11-08 21:26] lukasmrtvy commented on #216
@lucab Look at https://github.com/poseidon/fleetlock ( few prom metrics, no notificiations )

[2020-11-09 11:38] lucab commented on #216
@lukasmrtvy thanks for the pointer, I'm aware of that.

For context, I'm not looking into alternative solutions for "how to orchestrate Fedora CoreOS cluster-reboots".
I do contribute to Fedora CoreOS (and Zincati) development, and I'm specifically interested in hearing what can be done on our side to properly integrate `kured`, for FCOS users that may want to use it.

[2020-11-09 15:48] lukasmrtvy commented on #216
@lucab ah, thanks. Maybe would be better to catch devs on Slack (https://slack.weave.works) #kured

[2020-11-10 17:32] roy-work opened #227 "blocking-pod-selector blocks on non-running pods"
`kured`'s `--blocking-pod-selector` appears to only look for the existence of `Pod`s matching the given selector. This means that pods in, e.g., the state `Completed` (such as a finished `CronJob`) will block reboots; I don't believe this is how this feature is intended to work.

We run `kured` in a Kubernetes cluster, and we have a few `CronJob`s that we run that we want to block reboots. Thus, w

[2020-11-11 10:13] atighineanu commented on #117
Tried it. It looks indeed nice.
https://github.com/weaveworks/kured/pull/228

[2020-11-17 15:40] jscannell opened #233 "Helm Chart Alert Filter Quoted"
The helm chart applies the quote function to the alertFilterRegexp variable. This causes the filter to be passed to kured exactly as "^(RebootRequired)$" and as a result filters are not functioning. As a workaround, using extraArgs.alert-filter-regexp to bypass the quote function allows filters to work as expected. The quote function should be removed from the chart.

[2020-11-17 15:49] ckotzbauer commented on #233
Hi @jscannell,
this was fixed with #166 (Chart-Version 2.2.1). Which version of the chart you are using?

[2020-11-17 15:51] jscannell commented on #233
The chart version is 2.2.0.

[2020-11-17 15:56] jscannell commented on #233
Has version 2.2.1 been published to the helm repo? The latest version I see after repo update is 2.2.0.

[2020-11-17 19:00] ckotzbauer commented on #233
Oh, you are right. It is not released yet. @dholbach Is there a patch release planned in the next weeks?

[2020-11-18 08:28] dholbach commented on #233
@ckotzbauer We can certainly roll one.

[2020-11-19 13:03] onitake opened #234 "Use of context.TODO()"
I noticed that you added context arguments to the k8s API calls in 16109017cec02a8a0c4f80f829acc38ab28a14b2 - but you used context.TODO() instead of propagating a context object.

[context.TODO()](https://golang.org/pkg/context/#TODO) signals that this will be changed at some point - do have any plans to do so?
Otherwise, it would be more appropriate to use [context.Background()](https://golang.or

[2020-11-19 13:30] evrardjp commented on #234
I think the patch you are referring to was simply the quickest workaround, and we didn't talk about what will it contain yet.

I don't have any strong opinion on that. If you want to switch it, please be sure to include the _why_ in the eventual PR. :)

[2020-11-23 17:54] bboreham opened #236 "Drain doesn't wait for pods to terminate"
This is an unfortunate consequence of #210; the default behaviour of `drain.Helper` is to delete immediately.

@evrardjp spotted that adding a line like this should fix it: https://github.com/kubernetes/kubernetes/blob/540e41c825f7/staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go#L148

[2020-11-24 06:46] #236 closed

[2020-11-24 08:52] dholbach commented on #143
AFAIUI #213 solves this issue?

[2020-11-24 10:28] evrardjp opened #239 "Implement lifecycle hook/grace timeout functional test"
We already have a PR to test cluster features of kured https://github.com/weaveworks/kured/pull/183.

We should take this PR as inspiration to include a CI test (if possible in github actions) that does the following:
- spin up a small kind cluster (2 nodes would be enough, check existing PR and modify if necessary)
- deploy kured and a pod whose manifest contains a lifecyle preStop hook logging s

[2020-11-24 14:41] #143 closed

[2020-11-24 14:42] dholbach commented on #233
I think this can be closed now. Please let us know if it's still broken.

https://github.com/weaveworks/kured/releases/tag/1.5.1

[2020-11-24 14:42] #233 closed

[2020-11-24 17:28] dsargent3220 commented on #47
Would also like to send notifications to Teams.  Tried to use the slack URL and it didn't work.  If someone knows a way to make this work, please share here.  :)

[2020-11-24 17:52] tarioch commented on #47
It works for me I have set the slack hook url to the incoming webhook url of my teams channel.

[2020-11-25 09:14] #223 closed

[2020-11-25 09:28] #204 closed

[2020-11-25 10:41] dholbach commented on #121
We recently put in https://github.com/weaveworks/kured/commit/1ba3acab98fa217ea65405640706c55c89be956d so it should be easier to implement now?

[2020-11-26 01:49] onedr0p commented on #175
This is still an issue

[2020-11-26 01:53] onedr0p commented on #175
/remove-lifecycle stale

[2020-11-26 08:08] dholbach commented on #175
Can somebody verify with the last version and point out their `kured` config here? I wonder if this is #206 in disguise.

[2020-11-26 17:00] billimek commented on #175
Daniel, just tried with 1.5.1, and sadly no dice:

[code]

Config is: https://github.com/billimek/k8s-gitops/blob/b64a3218a8dd74109b1977afc85e8ffbb0263c11/kube-system/kured/kured.yaml

[2020-11-27 07:10] atighineanu commented on #239
I can tackle this Issue.
If everyone agrees, I would kindly prefer to go the upstream ginkgo way.

[2020-11-27 07:59] evrardjp commented on #239
How would that work?

[2020-11-27 08:54] evrardjp opened #243 "Add unit tests for slack/prometheus behaviour"
As our automated (in github actions) release testing only does pure functional testing, we might miss some of the extra features kured is providing, like messaging notifications or prometheus integration.

To avoid issues creeping in into the release, we should probably test those integrations into each PR.
By testing those into PRs, we can also safely bump dependabot updates. (This could technica

[2020-11-27 09:00] evrardjp commented on #122
Curently stale, but we should keep this issue opened, as it's the way to track all the sub issues.

We just have prioritized the testing first.

[2020-11-27 09:28] evrardjp opened #244 "Upload the manifest in the release automatically"
If we want to automate a bit further, we can probably use https://github.com/actions/upload-release-asset in our release process.

We can add a github action, when creating a release, that automatically uploads generates the combined manifest, and adds it into the just built release.

[2020-11-27 09:56] evrardjp commented on #244
See also: https://github.com/weaveworks/kured/pull/241

[2020-11-27 09:57] evrardjp opened #245 "Upload the image from tag automatically"
To make things simpler, we should probably push our docker images automatically when tagging the repository.

See also https://github.com/weaveworks/kured/pull/241

[2020-11-27 10:01] #125 closed

[2020-11-29 15:03] damoon commented on #18
why was skipping the drain implemented in the first place?
does someone remember or this there some documentation?

[2020-11-29 15:05] damoon commented on #19
@weaveworksbot i am still interested in this

[2020-11-30 08:18] dholbach opened #252 "Move from master to main"
It should be something like this...

[code]

[2020-11-30 08:31] evrardjp commented on #252
:+1:

[2020-11-30 08:37] evrardjp commented on #175
@chentex Could you have a look at this? You have checked the code recently :)

[2020-11-30 10:05] chentex commented on #175
Sure, I can take a look

[2020-11-30 13:37] chentex commented on #175
I managed to track the error, it is in the image used `raspbernetes/kured` I have submitted a fix for them to make a new release.

[2020-11-30 14:43] dholbach commented on #175
Wow, @chentex - great catch! Closing the issue here.

[2020-11-30 14:43] #175 closed

[2020-11-30 18:55] kfox1111 commented on #25
still relevant.

[2020-12-01 20:42] #179 closed

[2020-12-03 01:49] #156 closed

[2020-12-03 01:49] #145 closed

[2020-12-03 01:49] #147 closed

[2020-12-03 01:49] #128 closed

[2020-12-03 01:49] #116 closed

[2020-12-03 01:49] #120 closed

[2020-12-03 01:49] #115 closed

[2020-12-03 01:49] #93 closed

[2020-12-03 01:49] #102 closed

[2020-12-03 10:54] s-spindler commented on #63
Problem persists on AKS with K8S v1.16.15.

[2020-12-03 13:03] SerialVelocity commented on #110
/reopen

This is still a valid feature request

[2020-12-03 13:05] SerialVelocity opened #261 "Add a way to force reboot a node"
See #110

[2020-12-03 14:03] chentex commented on #227
I will take this.

[2020-12-03 16:03] evrardjp commented on #227
Thanks @chentex ! There are a few PRs touching this code, so let's see what your analysis returns and synchronise with those PR to avoid conflicts :)

[2020-12-04 01:51] #83 closed

[2020-12-04 01:51] #76 closed

[2020-12-04 01:51] #65 closed

[2020-12-04 01:51] #67 closed

[2020-12-04 01:51] #61 closed

[2020-12-04 01:51] #60 closed

[2020-12-04 01:51] #50 closed

[2020-12-04 01:52] #14 closed

[2020-12-04 01:52] #4 closed

[2020-12-04 07:46] #261 closed

[2020-12-05 01:52] #170 closed

[2020-12-05 01:52] #136 closed

[2020-12-05 01:52] #59 closed

[2020-12-05 01:52] #44 closed

[2020-12-05 01:52] #31 closed

[2020-12-05 01:52] #26 closed

[2020-12-06 01:55] #193 closed

[2020-12-07 10:42] bboreham commented on #19
Isn't there a danger that every node is waiting to reboot (e.g. if Ubuntu push out a security patch), so this would mean no pods can get scheduled?

[2020-12-07 11:10] damoon commented on #19
The taint is PreferNoSchedule not NoSchedule.
The scheduler will try to avoid putting pods on these nodes, but do it if no other placement is possible.

[2020-12-08 09:30] evrardjp opened #266 "Add ability to notify multiple destinations"
With shoutrrr used, we can now notify multiple destinations. We should allow the user to pass multiple shoutrrr urls, and give them to shoutrrr.

[2020-12-09 11:31] dholbach opened #267 "Test again k8s 1.{18,19,20}.x"
In prep for the 1.6.0 release, we should test against the latest 3 releases now that k8s 1.20.0 is out.

[2020-12-09 12:25] evrardjp commented on #267
I will tacke the update of the gh actions.

[2020-12-09 15:38] evrardjp commented on #267
The CI will only test so much, so I suppose we need manual testing of prometheus/slack before closing this issue.

[2020-12-11 14:19] nerijusk opened #271 "`--message-template` options not recognized by 1.5.1"
Using the `--message-template-drain` produces error:
[code]

Even though the README documents it at https://github.com/weaveworks/kured#slack-notifications

[2020-12-13 18:03] paulfantom commented on #23
Since #56 was closed I implemented a simple GH workflow for building multi-arch images in https://github.com/paulfantom/dockerfiles/blob/master/.github/workflows/kured.yml with images available at [quay.io/paulfantom/kured](https://quay.io/repository/paulfantom/kured?tab=tags). Maybe someone will find it useful to implement a similar workflow in this repository.

Sorry for pinging on the closed is

[2020-12-14 07:11] atiasadir opened #272 "Testing lock failed frequently due to API server unavailability"
We are using Kured (currently version 1.4.4) on AKS-Engine cluster, K8s version 1.16.15.
The kured daemon-set restarts dozen of times and pod deletion / rollout restart doesn't help.
Looks like there are transient and frequent issues with API server availability, which causes TLS handshake timeouts.

we always get the same error message:
`msg="Error testing lock: Get https://10.0.0.1:443/apis/apps

[2020-12-14 08:35] evrardjp commented on #23
Don't be sorry! It proves interest.

Do you think you could provide a PR to update our workflows with this kind of content?

[2020-12-14 08:36] evrardjp commented on #271
Does the README show it for the tag you're running?

I am worried you might be trying a feature that's not yet released.

[2020-12-14 08:38] evrardjp commented on #271
I don't see message-template-drain in our latest release: https://github.com/weaveworks/kured/blob/1.5.1/README.md

[2020-12-14 09:12] nerijusk commented on #271
I followed https://github.com/weaveworks/kured/. Wrong assumption on my side then.

[2020-12-14 09:12] #271 closed

[2020-12-14 09:29] evrardjp commented on #271
@nerijusk I think it's fair to say that it's confusing. It would be good to only expose the options when a released version of kured is out, but it means more work when doing the release (tag, test, publish documentation, change helm chart, publish helm chart). I think it's fair to include documentation when a feature lands in the code branch. WDYT?

[2020-12-14 12:08] paulfantom commented on #23
Right now I don't have the capacity to tackle this.

[2020-12-14 19:14] richerlariviere opened #277 "Feature request: Add a delay before rebooting another node"
We have to support a service in kubernetes which doesn't tolerate node reboots very well. When we need to reboot a node, we must wait for our service to be stabilized before rebooting another node. I hope we could fix the service instead of trying to patch it around but it's not possible.

Something that could help us is a way to tell Kured to wait between node reboots. I think of a flag we could

[2020-12-21 02:10] #82 closed

[2020-12-22 14:45] uipo78 commented on #82
Should this issue be closed?

[2020-12-22 14:47] kinihun commented on #82
Yes, please do.

Thanks.

From: Branden Carrier <notifications@github.com>
Sent: 22 December 2020 14:46
To: weaveworks/kured <kured@noreply.github.com>
Cc: Olumide <olumideajiboye@yahoo.com>; Author <author@noreply.github.com>
Subject: Re: [weaveworks/kured] When Pod Disruption Budget blocks Node draining, no restart is possible (#82)

Should this issue be closed?

—
You are receiving this because

[2020-12-22 15:03] bboreham commented on #78
Still valid

[2020-12-22 15:04] bboreham commented on #78
Is it possible to detect the difference between "drain is taking a long time" and "drain will never happen because of pod disruption budget" ?

[2020-12-29 13:48] flbla commented on #78
https://github.com/weaveworks/kured/pull/283

[2020-12-29 14:26] flbla commented on #63
https://github.com/weaveworks/kured/pull/283

[2021-01-05 02:31] #214 closed

[2021-01-05 02:31] #153 closed

[2021-01-05 02:31] #151 closed

[2021-01-08 00:06] jack-education opened #286 "Unknown flag error for reboot-days on 1.5.1"
After deploying the daemon with the same manifest as https://github.com/weaveworks/kured/releases/download/1.5.1/kured-1.5.1-dockerhub.yaml

except with the command flag added:

`--reboot-days mon,tue,wed,thu,fri`

so the containers config is:

[code]

The pods go into a CrashBackLoopOff/Error state with the log on a pod of:

The added flag matches the commented out flag in https://github.com/weav

[2021-01-08 00:08] jack-education commented on #286
Linking https://github.com/weaveworks/kured/issues/105 due to similar issues in using the command flags to set the reboot schedule.

[2021-01-08 00:30] jack-education commented on #286
Closing issue, = was missing in the command flags.

Correcting README `Setting a schedule` configuration example in https://github.com/weaveworks/kured/pull/287

[2021-01-08 00:30] #286 closed

[2021-01-08 11:49] rbq commented on #277
Same here. I'd like to space reboots a couple hours apart, just to give my distributed storage time to sync data that was written in the meantime.

[2021-01-08 12:01] 616b2f commented on #272
We have a similar issue:

`Error testing lock: Get https://somedomain:443/apis/apps/v1/namespaces/kube-system/daemonsets/kured: dial tcp: i/o timeout`

Killing the pod resolves the issue. Some retry logic would be awesome.

[2021-01-08 15:26] dholbach commented on #267
:heavy_check_mark: Smoketest against local minikube 1.20.1, 1.19.6, 1.18.14 with 86fe6ff (no prometheus, slack testing).

[2021-01-08 15:33] dholbach commented on #267
Looks like things are working all right in our Dev cluster too, Slack notifications turned up fine as well.

[2021-01-09 02:37] #105 closed

[2021-01-11 10:12] dholbach commented on #267
Suggested release notes:
-------------------------------------

From a user perspective, this release will mostly bring you up to date with Kubernetes 1.[18,19,20].x. Behind the scenes Jean-Philippe Evrard (SuSE) put a lot of effort into automated testing, which will give us more confidence in the code we merge.

# Improvements
- add additional parameters to override the drain/reboot slack message

[2021-01-11 12:41] #267 closed

[2021-01-12 10:41] evrardjp commented on #245
This was done in https://github.com/weaveworks/kured/pull/258

[2021-01-12 10:41] #245 closed

[2021-01-12 13:19] dholbach opened #295 "1.7.0 release notes"
Please list release-note-worthy bits here, so we can add them to the announcement, and make sure we test things right.

[2021-01-12 13:29] #19 closed

[2021-01-16 02:53] #216 closed

[2021-02-01 09:07] dholbach commented on #252
Also we'd need to review (and likely change) the following occurrences:

[code]

[2021-02-01 17:09] kfox1111 commented on #25
still relevant.

[2021-02-02 02:13] #117 closed

[2021-02-02 02:13] #94 closed

[2021-02-02 02:13] #47 closed

[2021-02-04 01:57] #244 closed

[2021-02-04 01:57] #239 closed

[2021-02-04 01:57] #122 closed

[2021-02-04 08:54] knutia opened #299 "Using slack Incoming webhooks and Channel give a 404"
When using both parameters:
--slack-hook-url string               slack hook URL for reboot notifications
and
--slack-channel string                slack channel for reboot notifications
ex:

the notification fails to send message to slack and the log contains the following message:

It looks like the slack Incoming webhooks URL dos does not support payload containing the "channel:" whit a value.

[2021-02-09 07:28] matthiasritter commented on #78
We'd love to see this implemented too :-)
Will this be merged?

[2021-02-09 15:24] damoon opened #303 "add option (timeout) to switch from drain to drain with disable-eviction"
Details for the disable-eviction option
https://github.com/kubernetes/kubernetes/issues/83307
https://github.com/kubernetes/kubernetes/pull/85571

LD/DR
Allows to drain pod from a node while ignoring PodDisruptionBudgets.
Included in k8s 1.18.

Use case:
We run Kubernetes for CI. A lot of test environments contain broken containers. It is almost impossible to drain pods from a node respecting the

[2021-02-14 01:59] #266 closed

[2021-02-17 11:01] dholbach opened #308 "Move off of peter-evans/link-checker GH action"
Move off of peter-evans/link-checker GH action, it's been replaced with https://github.com/lycheeverse/lychee-action

[2021-03-01 08:53] pvdulmen commented on #63
Still having this/similar issue. If a reboot/drain hangs because of a pdb and you manually delete the pod, a reboot is done but the node is still unschedulable (SchedulingDisabled)

[2021-03-02 13:52] m4r1u2 opened #314 "Maintenance sentinel"
I would love to have an additional sentinel where kured cordan & drain a node (and uncordan afterwords).

Additional sentinel file can be:
```/var/run/kured-maintenance``` ??

**Use case:**
If running attended upgrades or performing other tasks there its recommended to drain a node before start.
The file must be manually created on the node (or by a script or program), and cleanup at the end.
A cl

[2021-03-02 16:31] jackfrancis commented on #314
Hi @m4r1u2, I'm curious what kured maintenance tasks you think are appropriate for #3 ("do the attended maintenance"). Is it something other than a reboot?

[2021-03-02 17:17] m4r1u2 commented on #314
This is not ment for maintenance of kured itself, but task done on the k8s node.
One example can be upgrading docker to new version, debugging kernel/network on host without having any load, or just make it easy to draining a node from the host itself (without using kubectl)

[2021-03-02 17:52] jackfrancis commented on #314
Thanks for clarifying, that makes sense.

My 2¢ are that this adds additional functionality and responsibility to what kured has historically done. The title of the project is "kured - The Kubernetes Reboot Daemon", so having kured be able to do convenient cordon + drain is sort of orthogonal to that mission.

@dholbach should we solicit some additional opinions and thoughts here?

Another problem

[2021-03-02 18:30] Michael-Sinz commented on #314
The whole question of who "owns" a node's cordon state (and drain behavior - they are separate but drain happens under cordon) is one that has plagued kubernetes administration for a while.  We have seen other pod/service that take it upon themselves to cordon and uncordon nodes due to other signals (for example Azure infrastructure maintenance notifications) and that then interacts poorly with so

[2021-03-02 18:50] m4r1u2 commented on #314
Nice comments and thanks for the feedback.

I totally understand your concerns of adding this feature to kured but I had to try :)
I haven't found any good alternatives or any best practices on the topic.

[2021-03-02 20:31] Michael-Sinz commented on #314
It is a "hard" topic as to who owns the "platform" upon which kubernetes runs.  It is sort of abstract but the infrastructure is important as it provides the basis for kubernetes to do its work.  Changes below kubernetes really are about updating that infrastructure.  How to then make sure any assumptions/invariants are restored in the kubernetes space is the next tricky part.

An "easy" pattern i

[2021-03-08 18:08] jackfrancis commented on #314
@m4r1u2, Last week I bootstrapped a prototype (initially heavily re-using kured concepts + code) solution here:

https://github.com/jackfrancis/kustodian

I wanted to do so to get a feel for whether or not incorporating it into kured (like, maybe making kured more generic and not reboot-specific) would be preferable.

My conclusions now are kind of the same, and that I really like that kured follo

[2021-03-08 18:26] m4r1u2 commented on #314
Very cool @jackfrancis. I will do some testing this week

[2021-03-08 23:46] jackfrancis commented on #308
It looks like lycheeverse/lychee-action doesn't support recursive usages (traversing into all child directories), see:

https://github.com/lycheeverse/lychee/issues/78

Since both kured workflows that use peter-evans/link-checker use its `-r` option (recursively search), should we wait until lycheeverse/lychee-action supports the recursive before making this change?

[2021-03-08 23:50] jackfrancis commented on #277
@richerlariviere in the meantime you could set the `--period` runtime configuration value to "desired wait time" x 2. (You want to double it because your per-node cycles are not necessarily closely synchronized, so another could be ready to check for a reboot quickly after another node was rebooted.)

Have you tried that to see if it accomplishes the desired delay?

[2021-03-09 09:13] #18 closed

[2021-03-09 09:53] dholbach commented on #308
Looks like https://github.com/lycheeverse/lychee/pull/165 is close, so we can wait until a fix is released. :-)

[2021-03-14 08:34] unixfox commented on #121
Bump

[2021-03-15 08:16] evrardjp commented on #121
@unixfox Can you give more context for your case? Did you use, for example, what @bboreham has mentioned? Can you clarify your expectations?

[2021-03-15 08:17] evrardjp commented on #110
I suppose this could be done with a more flexible reboot command.

[2021-03-15 08:20] evrardjp commented on #295
Thanks @ckotzbauer for removing that label.

[2021-03-15 08:22] evrardjp opened #323 "Auto expiry of issues/PR using github bot is happening too fast"
This project is going at a pace for which expiring issues/PR after 7 days is too fast.

We are moving slower than that, so we should allow more grace time for those PRs and issues.

If someone can move it to 3 weeks instead of 1 that would be lovely.

[2021-03-15 08:28] evrardjp commented on #234
I would like to keep that one open.

[2021-03-19 06:53] stmaute commented on #121
Any news on this? It would be nice to have an option to configure a grace time between draining the pods and restarting the VM.

[2021-03-19 10:36] #323 closed

[2021-03-19 11:47] bboreham commented on #121
@stmaute please explain why you want this, including why the standard Kubernetes techniques already mentioned are not applicable for you.

[2021-03-19 12:14] stmaute commented on #121
A configurable time between draining and restart would give some more flexibility to complete connection draining and other stuff.
But in my case I got the problem solved with a pre-stop hook.

[2021-03-19 12:55] bboreham commented on #121
I conclude that adding the feature to kured would be the wrong step, since a preStop hook works in every case that a component needs to wait for draining.

[2021-03-19 12:55] #121 closed

[2021-03-24 17:08] spingel commented on #277
We have tried the suggested work-around but observed that multiple nodes may still reboot within a short period. If agent pods are not started at the exact same time the update check runs at different times on different nodes. If one of the nodes completes a reboot and another node's update check happens to run shortly after this can cause pods across multiple nodes to be pending for some time.

+

[2021-03-26 17:28] Th0masL opened #329 "Node reboots instantly and DaemonSets never gets drained"
I'm testing kured, and I'm facing some strange behavior.

When kured detect that a restart is required (and that we are in the right time window), then the restart is instantaneous, without any drain period.

[code]

Also, during and after the reboot, the DaemonSets pods that were on this node are still showing the same uptime as before :
[code]

Is it the normal behavior ?

Also, the readme on th

[2021-03-29 07:30] evrardjp commented on #329
Are you sure the node was rebooted? Did you double check? We are indeed ignoring daemonsets for the reboot, as they are always scheduled. In your case, all the pods you mention above are ds, so they didn't get touched.

[2021-03-29 17:28] jackfrancis opened #331 "Replace PodSecurityPolicy with new policy API"
The Kubernetes project will deprecate PodSecurityPolicy starting with 1.21.0, and then remove it entirely starting at 1.25.0. See:

- https://github.com/kubernetes/kubernetes/pull/97171

This issue tracks the replacement of the existing kured PodSecurityPolicy implementation with its replacement. This KEP is an indication of where things are (probably) going:

- https://github.com/kubernetes/enhan

[2021-03-29 17:34] evrardjp commented on #331
👍

Should we do this for 1.7.0, 1.8.0, or above? 1.7.0 supports 1.19 to 1.21 (and therefore will fall under the deprecated environment versions).

However, if there is no clear winner (as path to implementation), and that the winner is not backported to 1.19 or below, I suppose we should NOT move to a new solution anytime soon, else it will break our existing users.

PS: I am sorry if I am repeati

[2021-03-29 17:40] jackfrancis commented on #331
Above. The new API doesn't yet exist. :) So this is just a long-term trackin issue to ensure that the kured project is ready.

[2021-03-29 17:45] evrardjp commented on #331
Yup that's what I understood, thanks for confirming.

[2021-03-29 17:48] evrardjp commented on #331
I am marking this PR as "good first issue" for two reasons:

1. It indeed isn't too hard to implement :)
2. With this tag, our issue expiring bot will not expire this issue.

[2021-03-30 14:56] dholbach opened #332 "Expose changes of #315 in Helm chart"
Have a look at #315 and expose changes in Helm chart please.

[2021-03-30 15:06] atighineanu commented on #332
I am on it.

[2021-03-31 10:50] atighineanu commented on #332
Here is the PR:
https://github.com/weaveworks/kured/pull/333

[2021-04-05 01:53] #227 closed

[2021-04-05 15:52] kfox1111 commented on #25
still relevant.

[2021-04-06 07:16] evrardjp commented on #299
@knutia Did you see the current work of @atighineanu ? It's moving towards the use of a single url, using shoutrrr (and its format).

With that in mind, do you think we should spend time fixing the slack-channel?

[2021-04-06 07:17] evrardjp commented on #25
Agreed.

[2021-04-06 07:23] evrardjp commented on #252
It's a good idea. Thanks @ckotzbauer for updating the tags. This should make it not expire.

[2021-04-06 08:02] evrardjp commented on #252
Wouldn't the process be simpler if it was about moving the branch (`-M`  IIRC), then adapting the rest? I am not sure about the internals.

[2021-04-06 08:23] dholbach commented on #252
I'll take care of this now. As step 4 needs admin access and I need to talk to our IT folks, it's not necessarily a thing new contributors can do.

[2021-04-06 08:26] dholbach commented on #252
:hourglass_flowing_sand: Waiting on default branch to be changed.

[2021-04-06 10:09] dholbach commented on #252
Steps 1-5 from the top comment are :heavy_check_mark: .

[2021-04-06 10:36] evrardjp commented on #252
Oh interesting. We might have broken our test jobs, we should fix those soon

[2021-04-06 13:00] #252 closed

[2021-04-06 13:16] evrardjp commented on #332
That will probably have to be _post_ 1.7.0. Do we need to update the manifest building for 1.7.0, though, to expose this feature?

[2021-04-07 08:28] evrardjp opened #346 "Formalizing code owners"
Our team is oriented with ppl in some knowledge in an area, and less  in others, so it might be worth formalizing this under the form of codeowners. Codeowners would allow us to ping the right person automatically on code reviews, and make it easier for community members to know what they own or what are the areas that deserve more love.

WDYT?

[2021-04-07 09:24] dholbach opened #347 "Update k8s test matrix to include 1.{19,20,21}"
According to https://github.com/weaveworks/kured/#kubernetes--os-compatibility `main` should be compatible to 1.19.x, 1.20.x, 1.21.x, but that's not what we're currently testing in CI.

[2021-04-07 10:34] evrardjp commented on #347
Good catch!!!

[2021-04-07 10:40] evrardjp commented on #347
Kind node for 1.21 is not yet published on dockerhub [1]. Either we wait for it, we help update upstream, or we move towards building our own. As kind contributors have been historically good at maintaining those containers, I suggest we wait to update to kind 1.21. It shouldn't prevent us from readying our branch for 1.21 though.

[1]: https://hub.docker.com/r/kindest/node/tags?page=1&ordering=la

[2021-04-07 11:03] dholbach commented on #347
Perfect - that makes sense!

[2021-04-12 08:45] evrardjp commented on #303
Let's keep this opened

[2021-04-13 07:50] #272 closed

[2021-04-14 08:04] evrardjp commented on #329
Sorry I missed this message.

The compatibility matrix is on our README page, see it here: https://github.com/weaveworks/kured#kubernetes--os-compatibility
So TL;DR: the answer is yes. : )

[2021-04-14 08:04] #329 closed

[2021-04-14 08:05] evrardjp commented on #308
Update: Work not finished in lychee 165, maybe someone can help there? : )

[2021-04-14 08:07] evrardjp commented on #303
It's a good feature, I think we probably want to expose this. Should we target this for 1.8.0? Will you tackle it @damoon ? That would be awesome.

[2021-04-14 08:08] evrardjp commented on #299
I am closing this, as we have an alternative. Feel free to re-open if necessary.

[2021-04-14 08:08] #299 closed

[2021-04-14 08:10] evrardjp commented on #295
I added the good-first-issue label: A new joiner is probably interested in our changelog, so it seems fair that a new joiner can generate the next changelog :)

But maybe I am too optimistic there : )

[2021-04-14 08:12] evrardjp commented on #110
This is implemented now, and will be released with next kured image (in the meantime, you can build your own container if you prefer, from our main branch).

[2021-04-14 08:14] evrardjp commented on #277
I need to mention that @spingel committed here ^ . If you are interested by this feature, please review #352 !

[2021-04-14 08:17] evrardjp commented on #78
@flbla @sylr could you have a look at #341 ? I think the current implementation is covering your case.
However, if it's not, don't hesitate to highlight what we are missing! :)

[2021-04-14 08:17] #78 closed

[2021-04-14 11:16] amorey opened #358 "EC2 instance graceful restart"
Is there a recommended way to initiate a graceful restart of EC2 instances from kured? For my particular use case, I'd like to de-register instances from ELBs before rebooting the OS but I can't see a way to do this with the kured command line options.

[2021-04-14 11:24] evrardjp commented on #358
Technically, the next release might help you (the main branch code can do it, it's not yet released).

What you're trying to achieve has never been publicly added to the project (and you might want to document it here, if you feel it's worth sharing). If someone did that, it didn't share the recipe.

Here is what I would do:
- Build a restart script, which handles the de-registering of those insta

[2021-04-14 11:35] amorey commented on #358
Thanks for your quick reply! Can you point me to the feature in the next release that might help?

As a variant on your suggestion, I could also create a shell script and make it accessible to kured as an attached volume in the kubernetes manifest.

[2021-04-14 11:54] evrardjp commented on #358
While it's probably possible, it's not the easiest.

We currently wrap the rebootCommand to escape the container namespace. So basically the command is by default something similar to `nsenter ... $rebootCommand`. It's necessary so you restart the node (as systemctl reboot is absent from kured container). So in your case, you would need to bypass that nsenter, for which we don't have the code yet

[2021-04-14 13:39] amorey commented on #358
I hadn't thought of an init container but that would work in terms of dropping the script on the host. One disadvantage I can think of is AWS permissions. If the script were to execute inside the container namespace then you could use a tool like [kube2iam](https://github.com/jtblin/kube2iam) to set the AWS IAM role for execution but on the host I don't think that would be an option.

Would you be

[2021-04-14 16:06] evrardjp commented on #358
I don't mind myself, I would probably name it differently. We also need to find whether it makes sense to have the sentinel (check) in the same namespace or not. Maybe we can simply _expose_ that we are doing `nsenter` instead. I am not sure yet.

[2021-04-14 18:21] anthr76 commented on #122
kexec would be great! Any thoughts from a maintainer on opening this back up?

[2021-04-14 22:30] amorey commented on #358
Exposing the use of `nsenter` sounds like a great solution.

In addition, it would be useful to have the ability to run a script after the instance restarts (e.g. to add the instance back to its Auto Scaling group). Does it make sense to add this capability to kured? Or does it make more sense to hack this into the init container script?

[2021-04-15 07:41] evrardjp commented on #358
@amorey The problem with exposing `nsenter` is user friendliness: what about the PID if it's not 1 (rancherOS)? Will people remember to put `nsenter...` in front of their reboot command? I am not sure it's easily done.

For a script after instance restart, it's effectively the role of your node's init system and/or kubernetes. I wouldn't do that in kured, myself.

[2021-04-15 09:37] amorey commented on #358
All good questions. Let me know what you end up deciding. In the mean time there should be work arounds for the execution context issues.

Makes sense. Thanks for the advice.

[2021-04-15 11:57] evrardjp commented on #122
It's not only about kexec... !

But guess what?! It's implemented in our main branch (See also https://github.com/weaveworks/kured/pull/297) ! It will be available on the next release, which should happen soon!

[2021-04-16 01:42] SerialVelocity commented on #110
@evrardjp Do you mind pointing me to the PR that fixes this issue? I see PRs for changing the command but this is about forcing a reboot even if we are not in the correct time range, there are k8s warnings, etc.

[2021-04-16 05:46] evrardjp commented on #110
I am sorry, I missed the part where it was also outside the maintenance window.  If it's inside the maintenance window, we indeed implemented a force Reboot, regardless of any drain/cordon failures.

What you are looking for is not implemented, sorry.

Could you clarify why you would want to force outside the maintenance window? Maybe there is an alternative: You set up your maintenance window to

[2021-04-16 09:41] evrardjp opened #359 "Redesign idea: "Kured Large scale""
Hello everyone.

I guess this was supposed to be a blog post, but I will make it an issue instead. We can discuss it better here.

## Intro
Our lovely kured works well for many. It's simple, and I would like to keep it that way.

Yet, we recently had more and more special cases, which requires building a bit more complexity around our code.
Slowly, we'll increase our complexity, and reduce our rea

[2021-04-16 09:46] evrardjp commented on #359
WDYT of this?

[2021-04-16 10:42] evrardjp commented on #359
@kfox1111 ^

[2021-04-16 15:52] kfox1111 commented on #359
Sounds good to me.

I ended up writing part of something similar to this here: https://github.com/pnnl-miscscripts/miscscripts/tree/master/charts/charts/kubeupdater

Where it is just the node side of things, and annotates the node with a label when nodes needing upgrade, and accepts a label to upgrade/reboot the node after the node has been drained. It unlabels the node when its upgraded/rebooted

[2021-04-16 19:58] SerialVelocity commented on #110
One reason is mentioned in the PR description of #21

Personally, I would use it mainly in the case where my host stops being able to schedule new pods (happens if the kubelet starts OOM'ing because of misconfiguration, the host gets temporarily blacklisted from ceph so all the pods need a full restart (hard to do without rebooting the host as you can't unmount existing volumes as they hang), etc)

[2021-04-17 08:02] evrardjp commented on #359
I didn't determine the interface on how to announce the reboot to the brain. The easiest is to annotate a node if you already know where the kubeconfig is. I didn't like writing to etcd for such small thing, so I wanted an alternative to write status cm/CR/node annotation. I realised I could RPC to the brain, but then it becomes flooded regularly on large scale. I thought exposing a metric in the

[2021-04-19 08:07] evrardjp commented on #359
For some edge cases, we might even think that the node reboot procedure should be have a flag to allow the brain to NOT drain the node for emergencies.

[2021-04-19 08:09] evrardjp commented on #359
Current problem with the brain in this form: We now need the kubelet to be always available to be able to schedule pods into the node for a reboot. Kured can't be used for emergency reboots anymore.

[2021-04-19 08:10] evrardjp commented on #110
So, in those cases, you don't even need to drain/cordon, right? (While you can do something on the API, if kubelet is dead, it's kinda pointless). We don't have code for that (yet?). If you are still okay with trying to drain/cordon first, I think the forceReboot we have implemented is good enough: if drain fails, it ignores it and reboots anyway. The reboot is not scheduling new pods.

[2021-04-19 08:10] evrardjp commented on #110
If you don't think it's right, don't hesitate to reopen this.

[2021-04-19 09:56] bboreham commented on #359
Broadly I like this.  I don't like to increase the number of moving parts, but some features, e.g. prioritising nodes or rebooting N in parallel, are too hard to implement with all nodes autonomous.

One thing though: hasn't someone done this already?  I'm sure I have discussed Kured in comparison to some other tool that had a central operator to manage reboots.

[2021-04-19 10:02] evrardjp commented on #359
https://github.com/jamiehannaford/coreos-reboot-operator is archived, so is the tool superseding it ... Maybe there are others?

I like the idea of reuse.

[2021-04-19 11:07] bboreham commented on #359
That does look very like the one I was thinking of, thanks.
Looks like a more recently updated fork is at https://github.com/pantheon-systems/cos-update-operator

Did anyone ask in the Kubernetes Slack channels?  Might get some more prior art there.

[2021-04-19 12:56] bboreham commented on #359
I asked: https://kubernetes.slack.com/archives/C0BP8PW9G/p1618835934220900

[2021-04-19 14:16] evrardjp commented on #359
Awesome, thanks @bboreham

[2021-04-20 11:29] papanito opened #362 "Adjust kured to use the new Microsoft Teams connector webhook URL format"
As mentioned in [#138 of shoutrrr](https://github.com/containrrr/shoutrrr/issues/138) the Microsoft Teams connector webhook URL format changed. Before it was `https://outlook.office.com/webhook/{tokenA}/IncomingWebhook/{tokenB}/{tokenC}` wheras of today, the base url is `https://<tName>/....`

Thus one should be able to also specify the `<tName>` i.e. something like this: `teams: teams://tName/tok

[2021-04-20 11:46] evrardjp commented on #362
What's the problem? I have the impression that our code should be okay. Do we have an issue? We are using shoutrrr 0.4.3.

[2021-04-20 11:57] papanito commented on #362
Not sure as the [documentation](https://github.com/weaveworks/kured#notifications) states
[code]
I did not look at the code but if you say I actually can pass `--notify-url=teams://tName/token-a/token-b/token-c`, then no there is probably no issue.

[2021-04-20 13:59] SerialVelocity commented on #110
If the reason why the failures are happening are because of the kubelet OOM'ing, it might not be able to drain. For us, it would fail when kubelet tries to read all of the disk stats simultaneously that pushed us over the limit so things like draining still works for a while after each OOM.

I don't think force reboot fixes this, right? The issue is you can't force kured to start the reboot proces

[2021-04-21 07:31] evrardjp commented on #110
forcereboot ignores the drain errors, so yeah that would (maybe) work. I am saying maybe, because the OOMkiller might want to kill kured, and for that there is nothing we can do. If it doesn't kill kured, then I don't see why it wouldn't work: the drain wouldn't stop on error, and the reboot would continue its way. But all of that applies _during_ maintenance window. WHich is why I mentioned to ha

[2021-04-21 15:16] amorey commented on #358
I just came across this kubernetes blog post from today:
https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/

If graceful node shutdown works as advertised then kured will be able to offload node draining to kubernetes in the future.

In the mean time, I can trigger ELB de-registration from within kubernetes by adding a "node.kubernetes.io/exclude-from-external-load-balancers" label

[2021-04-27 18:12] SerialVelocity commented on #110
Yes, this is what this issue is about. Adding a way to bypass the maintenance window when certain criteria are met.

It seems like the rewrite for #359, could possibly also include slightly more complex rule evaluation logic (or at least be structured in a way that allows it to be implemented later). e.g:
[code]

[2021-04-28 16:31] evrardjp commented on #347
- `kind-cluster-1.21.yaml` will have to be created in https://github.com/weaveworks/kured/tree/main/.github  when the kindest node v1.21.0 is out.
- we need to then add the 1.21 to the matrix in the github workflows.

[2021-04-28 16:37] evrardjp commented on #347
See also https://github.com/kubernetes-sigs/kind/issues/2188

[2021-04-28 16:46] dholbach commented on #347
→ https://github.com/weaveworks/kured/pull/349

[2021-05-04 06:42] #362 closed

[2021-05-17 10:23] MKruger777 commented on #63
We are still having this issue, any progress here? Thanks!

[2021-05-19 08:43] #347 closed

[2021-05-19 08:46] dholbach commented on #295
Here is the `shortlog` since `1.6.1` was released:

[code]

[2021-05-19 08:53] evrardjp commented on #295
We should probably remove the dependabot and the merge commits from this list @dholbach  ;)

[2021-05-19 08:55] dholbach commented on #295
Sure... I just wanted to put something up to get us going. I won't have time to finish this today or this week. :-/

[2021-05-19 09:00] ckotzbauer commented on #295
I think I can write a proposal for the release-notes today evening.

[2021-05-19 11:33] ckotzbauer commented on #295
Found some time earlier.😉

# Features and Improvements:
- Add force-reboot after drain-timeout duration has been exceeded #341
- Add prefer no schedule taint to avoid double draining of pods #250, #19
- Implement universal notification mechanism #315
- Add parameter for delaying release of lock #352
- Always drain before reboot #294, #18
- Add node annotations to identify kured reboot operations #

[2021-05-19 17:11] ckotzbauer commented on #332
#338 is merged

[2021-05-19 17:11] #332 closed

[2021-05-19 17:12] ckotzbauer commented on #295
1.7.0 is out :tada:

[2021-05-19 17:12] #295 closed

[2021-05-20 07:25] spingel commented on #277
Looks like this feature was released with 1.7. Thanks! Only outstanding change is the update for the helm chart: https://github.com/weaveworks/kured/pull/353 (I rebased the PR and updated the version).

[2021-05-20 12:42] amorey commented on #358
@evrardjp I noticed that kured sets a node lock annotation which is removed after restart. If it were possible to set a node lock label that behaved in the same way then it would be possible to remove nodes from external load balancers gracefully before restart without having to use a custom script (using the "node.kubernetes.io/exclude-from-external-load-balancers" label). Would you be open to in

[2021-05-26 07:43] stefka-sarafska opened #380 "Prometheus url"

[2021-05-26 08:30] dholbach commented on #346
No objections -maybe discuss in the meeting?

[2021-05-27 06:49] #380 closed

[2021-05-27 06:54] stefka-sarafska commented on #380
Resolved!

[2021-05-28 17:41] dkulchinsky opened #381 "Deprecation warning is always printed, even when slack-* cli args are not used"
Hey folks 👋🏼

Mostly a minor annoynace, but since the `slackUsername` flag has a non-empty default
https://github.com/weaveworks/kured/blob/main/cmd/kured/main.go#L134

it always triggers the deprecation notice:
https://github.com/weaveworks/kured/blob/5193f2de1666f50a0c8fd5906c534ef77e4a4ad4/cmd/kured/main.go#L171-L173

It would also be nice to indicate which flags are being deprecated in the war

[2021-05-28 18:37] dkulchinsky opened #383 "Add ability to set cli flags with environment variables"
Hey folks 👋🏼

Would be great if we could define the CLI flags also with Environment Variables, this is especially important for arguments that are somewhat sensitive (like `--notify-url`) where we mutate the value from Vault.

Thanks!

[2021-05-30 02:15] #314 closed

[2021-05-31 00:08] anthr76 commented on #23
Should this be re-opened?

[2021-05-31 08:03] #381 closed

[2021-06-02 15:32] anthr76 commented on #23
Are PRs welcome?

[2021-06-02 15:36] dholbach commented on #23
yes, very much so - Jonathan McCracken wanted to take a look at this as well, if memory serves...

[2021-06-05 09:41] SimeonPoot opened #385 "Filter Prometheus Alerts by regexp is limited, add feature to query by labels"
Currently we'd like to query Prometheus for certain Active Alerts to block nodes from being rebooted, this functionality is present. It's great to have this functionality in place, However filtering by regex is limited in a way we can't use it.

The situation is that we have different priorities of workloads getting the same alerts, that is;
If teams are experimenting with their setup and it fires

[2021-06-07 08:43] Scorito-Dev opened #387 "Disable kured for a couple weeks"
Hi,

Due to our priorities we want to disable kured for a couple weeks to make sure we are not running into issues.
Currently our configuration is as follows;
`configuration:
  endTime: "03:00"
  rebootDays: ["tue"]
  startTime: "02:00"
  timeZone: "UTC"`

  Is it possible to disable the reboot? what would happen if I do not add rebootdays? or change endTime to 02:00 ?

[2021-06-07 14:02] kingdonb commented on #387
If you set `rebootDays` to an empty array, my expectation from reading over the `timewindow` package is that you will effectively disable the reboot. If you have configured alerts to warn you when reboot is required and kured is not able to reboot the hosts, then you should receive an alert when the amount of time reboot has been required has crossed the threshold.

[2021-06-07 15:45] Scorito-Dev commented on #387
I read this as no rebootDays = any day is a reboot day, I will try this out, we will find out tonight!

[2021-06-07 17:18] kingdonb commented on #387
Based on a commit I pushed to [this branch](https://github.com/kingdonb/kured/tree/test-disable-emptydays), I can say for sure the empty "days" string will result in a timewindow which does not include any days, and not the inverse.

Here is the test case, it's easier to read in context next to a different example that does include some days:

https://github.com/kingdonb/kured/commit/90e8e7946b640

[2021-06-09 12:32] evenh opened #390 "shoutrrr/slack: missing channel property"
After looking at the release notes for 1.7.0, I found a breaking change (for our use case). If opting in to the use of `shoutrrr`, the ability to override the Slack channel has gone away (unsupported in shoutrrr). I know that currently both modes of notifications (static Slack implementation + shoutrrr) exists, but the writing on the walls indicates that the former will be dropped in a future rele

[2021-06-15 09:12] SimeonPoot commented on #387
Hi there, just out of curiosity, what is the status of this issue?
If setting no days to disable rebooting is a solution, perhaps a good idea to add this to the tests?
Kind regards

[2021-06-17 11:10] codestalkerr opened #393 "Kured blocking reboot on pending alerts"
I have been struggling with the auto rebooting nodes using Kured coz of pending alerts which is not an issue for us.
Since we have so many alerts it comes and goes from pending state randomly and blocks Kured most of the time.

Suggestion: It would be better to just block on "Firing Alerts" or an option to set if we want to block on "Firing Alert" or "Pending Alert" or both.

[2021-06-18 18:06] preo2nd opened #395 "helm dependency update not working"
apiVersion: v1
name: mekured
description: A Helm chart for Kubernetes

type: application

version: 0.1.0

appVersion: "1.7.0"

dependencies:
  - name: kured
    version: 2.4.3
    repo: https://weaveworks.github.io/kured

  Error:
Update Complete. ⎈Happy Helming!⎈
Error: directory charts/kured not found

I have tried manually creating the charts folder and Kured folder but that doesn't work either

[2021-06-22 13:38] dholbach commented on #395
Can you try https://github.com/weaveworks/kured/tree/main/charts/kured#readme?

The `helm/charts` repo was archived.

[2021-06-22 13:46] atighineanu commented on #390
Assign me to this pls. On it.

[2021-06-22 13:49] atighineanu commented on #390
I haven't tested the channel properties on any of the services, to be honest. Not many did in fact use that level of details (that I know, at least).

[2021-06-23 16:22] dholbach commented on #346
https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

[2021-06-23 16:23] evrardjp commented on #346
We discussed it during the meeting, and we would be okay to try this.

[2021-06-23 16:28] jackfrancis opened #397 "ensure CLI docs are consistent with actual CLI args interface"
1. Fix any existing inconsistencies
2. Write tests and integrate into UT suite so that consistency is preserved

[2021-06-23 16:29] evrardjp commented on #397
👍

[2021-06-23 16:29] jackfrancis opened #398 "ensure helm documentation is consistent with actual helm chart values/args"
1. Fix any inconsistencies
2. Write a test and incorporate into UT suite

[2021-06-25 13:29] preo2nd commented on #395
closing issue malformed Chart.yaml key "repo" is suppose to be "repository"

[2021-06-25 13:29] #395 closed

[2021-06-30 07:27] avwsolutions commented on #63
Issue still exists .

[2021-06-30 07:44] bramvandenklinkenberg commented on #63
Kubectl:"v1.21.2"
AKS: "v1.19.11"
Kured: "1.6.1"

[2021-07-01 07:56] GeorgHoffmeyer opened #400 "AKS autoscaling not removing nodes while kured demon is running"
Hi,

on our AKS cluster we have kured active. We also use autoscaling for nodes. But we figured out, that unused nodes are not removed. The Stay in state Ready, SchedulingDisabled.
We figured out that the kured deamon is preventing the node to be removed.

[2021-07-06 21:54] mdillon-airbus commented on #400
What is your AKS version?

[2021-07-07 07:08] jfcoz opened #403 "Kured can reboot before end of upgrade"
Kured check the /var/run/reboot-restarted file.

It is possible that dpkg create this file before the end of an upgrade, so kured can reboot the node during the upgrade.

After the reboot, dpkg can be in the state :

`E: dpkg was interrupted, you must manually run 'dpkg --configure -a' to correct the problem.`

The more you reduce the `--period` check interval, the more risk you have to get this p

[2021-07-11 03:36] kautish opened #404 "/sbin/systemctl not found in AKS"
we recently created new AKS cluster (version 1.20.5) and kured 1.7.0. reboot-sentinel and reboot-command were as per default.

Kured monitor newly created node and finds node needs reboot.

During process of reboot, kured indicates two kind of issues:
* PDB of some pods preventing restart of pods
* reboot command is used and the default version is /sbin/systemctl. AKS seems to have systemctl in /b

[2021-07-12 16:33] jackfrancis commented on #404
@alexeldeib can you confirm that AKS nodes need to use a custom reboot command string (kured default is `/sbin/systemctl reboot`)?

@kautish can you provide more details about PodDisruptionBudget issues? Also, you can definitely overrite the reboot command string, either by overriding the `--reboot-comand` option in the daemonset spec if you're doing things manually, or by using the helm config `c

[2021-07-13 22:42] kautish commented on #404
@jackfrancis

We are using official kured helm chart for installing app version 1.7.0. The default chart version from repo is 2.7.0.
After adding --reboot-command = /bin/systemctl, we were able to avoid issues on AKS cluster.

The problem of reboot-command did not exist in 1.6.1 app version.

For PDB issue - the error message looks like :
"error when evicting pods/"cordons-xxxxxxxx-yyyy -n kube-sy

[2021-07-14 17:32] evrardjp opened #406 "Remove stale bot"
The stale bot allowed us to keep some interesting issues, while we got the opportunity to clean many things.

I don't think we need the bot anymore (we are managing the issues and PR better now).
Nowadays it even hurts more than its doing good: it brings friction to issues and pull requests ("Why is this bot closing something that matters to me!").

Should we remove it?

[2021-07-15 18:55] alexeldeib commented on #404
@jackfrancis huh, that seems to be the case. I'm a bit surprised since we have docs on using kured and I can't imagine this changed recently...

[2021-07-15 19:02] alexeldeib commented on #404
this is a helm chart issue: https://github.com/weaveworks/kured/blob/7a2b4a6a1a007e87ca15e009a8453e8266d65161/charts/kured/values.yaml#L34

in kured code, the default has been the same for a long time: https://github.com/weaveworks/kured/blob/7a2b4a6a1a007e87ca15e009a8453e8266d65161/cmd/kured/main.go#L129

which works just fine on AKS

[2021-07-15 19:03] alexeldeib commented on #404
xref: https://github.com/weaveworks/kured/pull/394#issuecomment-880941336

[2021-07-16 07:55] #404 closed

[2021-07-20 08:58] Tetradeus opened #409 "Deprecated flag(s). Please use --notify-url flag instead."
When using last helm version (2.7.1) and setting value in 'configuration.notifyUrl', we get a deprecation message in kured pods :

[code]

[2021-07-23 01:34] MattJeanes commented on #393
I have raised PR #410 to add this feature as I would like this too 😄

[2021-07-23 08:17] codestalkerr commented on #393
That's Awesome, can't wait to see this out in action 🕺

[2021-07-23 22:52] rptaylor opened #412 "--reboot-sentinel-command not configurable via Helm chart"
https://github.com/weaveworks/kured/pull/297 added the --reboot-sentinel-command which would be useful for RHEL systems , could do something like  `! /usr/bin/needs-restarting -r`  however it is not available in the helm chart:

https://github.com/weaveworks/kured/blob/main/charts/kured/values.yaml#L24
https://github.com/weaveworks/kured/blob/main/charts/kured/templates/daemonset.yaml#L52

[2021-07-24 13:51] kingdonb opened #413 "kured pods are not restarted on helm upgrade"
I've just upgraded my kured from 2.7.0 to 2.7.1 chart version, after fixing the issue described in #404 and #408 and, after some experimenting, I think kured pods need to be restarted in order to take in the new configuration, but that doesn't seem to happen.

I traced around looking to see why that is, and I see that you place labels in the chart templates to be used as a helper, and that winds u

[2021-07-27 13:49] dholbach commented on #413
@ckotzbauer WDYT?

[2021-07-27 13:49] dholbach commented on #413
Or @davidkarlsen maybe?

[2021-07-27 14:18] ckotzbauer commented on #413
yes, +1 for changing the default-strategy to "RollingUpdate". This was sth. we just took over from the old chart at helm/charts.

[2021-07-27 22:17] rptaylor commented on #110
Probably https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/ is a better way to do this.
If you need to reboot a node due to some conditions on the node, unrelated to routine updates and outside of the kured maintenance window, IMHO it seems outside of scope of kured and you should just reboot it.  If you configure the graceful node shutdown timeout which is now built-in to kubelet,

[2021-07-27 22:39] davidkarlsen commented on #413
It makes sense to have it as rolling by default.

[2021-07-28 01:07] rptaylor opened #416 "improve security of reboot mechanism"
Hello,

We would really like to use kured but there is reluctance about a fully privileged daemonset that has access to execute arbitrary commands as root on every node.  I have reviewed some options that could allow rebooting more securely.

- **Option 0** (current kured behaviour):  nsenter and execute a configurable shutdown command (`/bin/systemctl reboot` by default) in the host namespace to

[2021-07-28 05:23] ckotzbauer commented on #413
@kingdonb Do you want to open a PR for that?

[2021-07-28 06:51] evrardjp commented on #416
Option 2 is, as you mentioned, about equal to option1B. If you follow systemd code, and I was not mistaken, this isn't too far to a PoC in my testbed, for which I did a `kill` signal `SIGRTMIN+15`. It was not portable, as some other people tried without success. I did it with CAP_KILL and hostPID.

[2021-07-28 06:57] evrardjp commented on #359
We have no news from the SIG node front. I didn't ask for more details there.

[2021-07-28 07:02] #393 closed

[2021-07-28 07:38] evrardjp commented on #403
I think it's fair, but how do you propose to do it in a system agnostic way?
Do you want to take different approaches based on the distro?
Or do you want to ensure the user defines its own way?

[2021-07-28 07:42] evrardjp commented on #390
Did you see the change in https://github.com/containrrr/shoutrrr/pull/179 ?
Were you using channel properties for other things than icons?

I am afraid holding onto future removed features is not a good way forward ;)

[2021-07-28 07:44] evrardjp commented on #387
I believe we have other tools for "blocking" reboots, but feel free to comment if the current features aren't enough.

[2021-07-28 07:48] evrardjp commented on #383
That sounds a great idea!

[2021-07-28 07:50] evrardjp commented on #385
Should we close this? If there is extra work to do, please mention it :)

[2021-07-28 07:52] evrardjp commented on #23
Yes, any help is welcomed.

[2021-07-28 07:54] evrardjp commented on #63
I think, on top of the versions used, it would be good to know a bit about the environment. What are the CLI arguments you give? Did you wait for the period? What is the sentinel reporting?

[2021-07-28 08:01] evrardjp commented on #358
Yes, I read this recently. When kured will be supporting 1.21 and above only, we can probably remove a bunch of code.

[2021-07-28 08:01] evrardjp commented on #358
I saw your PR. It's awesome. I like it so far :) Let's discuss it there!

[2021-07-28 08:52] SimeonPoot commented on #385
hi @evrardjp. thanks for coming back to this.
The issue is still relevant. The only change that was made with the PR #386 , was restructuring of PrometheusClient as well as adding unit-tests. I removed all of its 'query by label' code as this needed some more investigation / better way of implementing.
- I saw that there's an prometheus endpoint /alerts, where we could make use of, rather than /qu

[2021-07-28 09:20] evrardjp commented on #385
As you can guess with the delay in my answers: I am not really available to work on this.
Hence, if you do the work, you are more likely to get things merged ;)

I am not really familiar with prometheus internals, but I think it's worth investigating, and documenting _WHY_ we want to change or NOT change. Example: Is the /alerts endpoing better? Why? Should we have a sidecar model instead, or shou

[2021-07-28 09:40] jaawasth opened #417 "Kured is causing pod pod eviction on AKS"
Hi Team,

Kured is causing pod eviction on AKS clusters.

We are seeing below events on clusters where kured makes the pods unschedulable

time="2021-07-28T08:10:50Z" level=info msg="Kubernetes Reboot Daemon: 1.7.0"
time="2021-07-28T08:10:50Z" level=info msg="Node ID: aks-nodepool1"
time="2021-07-28T08:10:50Z" level=info msg="Lock Annotation: default/kured:weave.works/kured-node-lock"
time="2021-0

[2021-07-28 10:00] SimeonPoot commented on #385
I can image, I'd like to work on it, but this comes between work/kids.

I have to say I don't know the internals of Prometheus either, I'm learning as I go, and by this I'm seeing things we can use, like the Alerts endpoint. In the end we'd like to filter by labels, regardless of endpoint.

About the uniform way, I meant.. The way Prometheus is queried:
Query by 1 label (eg.)  {"severity":"critica

[2021-07-28 10:08] evenh commented on #390
The number one feature for me was to override channel name, since it meant only interacting with one Slack webhook token.

[2021-07-28 10:55] evrardjp commented on #385
The blocker tools could be custom made (and we can provide a few defaults), which would apply a label on nodes, a label we can watch.

[2021-07-28 19:44] rptaylor commented on #416
@evrardjp thanks for the comments!
Okay, SIGRTMIN+15 [should](https://man7.org/linux/man-pages/man1/systemd.1.html#SIGNALS) "immediately reboot the machine" , that has the advantage of not relying on ctrl-alt-del.target but it sounds like it might be less graceful (?) just as the reboot(2) call immediately reboots. SIGRTMIN+5 sounds like the best choice IMHO.

If anything, sending a signal to PID

[2021-07-28 20:30] evrardjp commented on #416
I would say that it's indeed easier to have this in our code. However, the refactoring will be bigger. Not impossible though ;)

[2021-07-28 22:46] rptaylor commented on #416
@evrardjp Thanks, I did look at #359 but I think some significant security improvements can be achieved without a major architectural redesign (though that could also have valuable security improvements in its own right).

Certainly. I already tested that SIGINT to PID 1 works as expected and documented on EL7,8. Likewise for SIGRTMIN+5:
[code]

If we add a new option that is non-default behaviour

[2021-07-28 23:07] rptaylor commented on #359
In this proposal the brain would launch jobs to reboot nodes.
Along the lines of #416 , if there is a significant redesign, to me (as a security conscious cluster operator) it makes sense to separate the rebooting logic (brain/detector) from the reboot executor (which actually does the reboot) as much as possible. The logic entails code (which has the risk of bugs, supply chain attacks, and genera

[2021-07-29 07:37] evrardjp commented on #359
I don't agree with the verbiage above.

Practically it makes sense to separate _what runs to detect_ ,  _what triggers a reboot_ , and _what is effectively rebooting_.

Your "executor" should not ask whether a reboot is required. This is because this can mostly be done _without_ privileges, or _with a different set of privileges than the actual rebooting_ .

What you are proposing with your cron j

[2021-07-29 07:40] evrardjp commented on #359
This would make the "next gen" basically a node maintenance tool, hence the conversation with the kubernetes node SIG.

[2021-07-29 07:55] evrardjp commented on #416
I don't see how it can't be done in two PRs, to iterate on this.

[2021-07-30 00:57] rptaylor commented on #416
@evrardjp Okay thanks! Sorry I am not sure, do you mean for the 1st PR, it would involve basically copying https://github.com/weaveworks/kured/blob/main/tests/kind/follow-coordinated-reboot.sh  with a different rebootCommand configured?  I'm not sure where the kured config would go in that script.

[2021-07-31 17:19] SerialVelocity commented on #110
To do that, the script would have to implement locking like kured to make sure that two nodes aren't shutdown at the same time.

[2021-08-02 09:44] evrardjp commented on #110
I think this paves the way for a new "kured" :)

[2021-08-06 07:38] #413 closed

[2021-08-07 00:01] kingdonb commented on #23
I am using the kured image from `quay.io/paulfantom/kured` @ 1.7.0 and it works great, my cluster is a multiarch with Raspberry Pi CM3+ running as `arm` architecture (32 bit), and an amd64 machine. @anthr76 If you want to take a stab at the PR, I would be happy to review it here. (If you don't get around to it, I will come back and figure it out myself eventually.)

Here is the `kustomization.yaml

[2021-08-10 10:15] anderius commented on #409
I am experiencing the same with Helm chart version 2.9.0.

[2021-08-10 11:45] anderius commented on #383
Is there a workaround for this? I see no way to specify notifyUrl from a secret (using the Helm chart), and not using a secret is not an option.

[2021-08-10 13:41] ckotzbauer commented on #383
This is currently not possible. The problem is not the helm-chart I think (it supports extraEnvVars which can be populated from secrets), but the code from kured itself. Currently kured does not read flags from the command line. But this should be easily possible to implement in `main.go` with the existing viper-library.

[2021-08-11 17:26] onedr0p opened #421 "Push image to a different registry, in addition to Docker Hub"
**Is your feature request related to a problem? Please describe.**

Dockerhub rate limits

**Describe the solution you'd like**

Push kured to an additional registry like Quay or GHCR

[2021-08-24 11:39] ckotzbauer commented on #409
@Tetradeus Do you use the `--slack-channel`, `--slack-hook-url` or `--slack-username` flag (in addition to the `--notify-url`?
Then this message is emitted, as the slack-flags are deprecated and should not be used together with the new `--notify-url` parameter from shoutrrr.

[2021-08-25 16:12] dholbach opened #423 "Add reboot-delay to helm chart"
Add reboot-delay to helm chart - follow up to #418

[2021-08-25 16:14] dholbach opened #424 "Add pull request template"
Add pull request template

[2021-08-25 16:20] dholbach opened #425 "Update k8s deps to 1.21"
Update k8s deps to 1.21

[2021-08-25 16:21] dholbach opened #426 "Update CI testing for k8s 1.{20,21,22}"
Update CI testing for k8s 1.{20,21,22}

[2021-08-25 16:21] dholbach opened #427 "Release 1.8.0"
write release notes

[2021-09-07 22:38] KR411-prog opened #432 "CVE vulnerabilities in kured:1.7.0 image"
Below vulnerabilities are found in the image version 1.7.0..
Twislock Scan results for image weaveworks/kured:1.7.0
Could you please fix these security issues in next version of Kured?

sha256:c00eaac7f31d69556fdc8c71178b683f4cfd4ec606428bd775954a588d321eb2

Vulnerabilities
+----------------+----------+------+-----------+-----------+--------------------+-----------+------------+-------------------

[2021-09-08 05:11] ckotzbauer commented on #432
There are package versions with fixes for all mentioned CVEs on Alpine 3.14. This is automatically resolved with a newly built image for 1.8.0.

[2021-09-08 05:11] #432 closed

[2021-09-10 06:41] IgorOrmus opened #434 "Introduce resource limits to the kured helm chart"
Considered best practice for kubernetes environments we recently started reporting against missing limits via azure policy in running clusters and kured was flagged up. Although possible to fix by manually editing the daemonset it would be good if the limits were added to the default helm chart as when the policy starts enforcing it will prevent kured from being auto deployed to new environments .

[2021-09-13 08:37] dholbach commented on #406
^ haha ... :joy:    the :robot: doesn't like the idea!

[2021-09-15 11:50] jamesrcounts opened #435 "Support drain timeout in Helm chart"
I'm working with a team that is using the helm chart for deployment.  They are very interested in the drain-timeout feature mentioned in the main readme.

[code]

However, it looks like the helm chart has not been updated to support this option.  I'm familiar with Helm and it looks straightforward to add, would you be open to a pull request for this?

[2021-09-15 12:24] ckotzbauer commented on #435
There is a open PR to add those flags. #360
We will try to merge this as soon as possible. I will close this in the meantime.

[2021-09-15 12:24] #435 closed

[2021-09-27 06:27] amorey commented on #358
/remove stale

[2021-09-27 18:18] rptaylor commented on #412
Still relevant.

[2021-09-28 02:14] rptaylor commented on #416
Still relevant but not sure how to proceed.

[2021-09-28 08:15] #425 closed

[2021-09-28 08:15] #426 closed

[2021-09-28 11:18] Scorito-Dev commented on #387
Using the following command we successfully disabled kured

kubectl -n kube-system annotate ds kured weave.works/kured-node-lock='{"nodeID":"manual"}'

[2021-09-28 11:18] #387 closed

[2021-09-29 06:44] ckotzbauer commented on #434
Hm, I'm not sure if this is really best practice to enfore default requests and limits in a Helm-Chart. Most of the charts out there do not have default values set for this, as it's up to the cluster-operators to manage this for their specific use-case.
Any thoughts on this?

[2021-09-29 11:37] dholbach commented on #421
[code]
Not quite solved yet.

[2021-09-30 01:03] jgilfoil commented on #409
I'm getting this issue on chart version 2.9.1

[code]
`time="2021-09-30T00:55:10Z" level=warning msg="Deprecated flag(s). Please use --notify-url flag instead."`

[2021-09-30 04:43] ckotzbauer commented on #409
This misleading warning was fixed with #382 and will be released in a few days with the upcoming release (1.8.0).
The `--slack-username` parameter has a default-value, so the warning appeared even if you don't set a `--slack*` parameter by yourself.